﻿.cal-table {
    border:none;
}

.cal-thead {

}

.cal-thead .thead-tr {
    background-color:white;
    
}

.cal-thead .thead-th {
    width:40px;
    align-content:center;
    font-size:10px;
    text-align:center;
    border:none;
}

.cal-tbody {
    /*border: 1px solid white;*/
}

.cal-tbody .tbody-td-weekend {
    border: 1px solid white;
    height:20px;
    width:135px;
    background-color:#BCBCBF;
    
}

.cal-tbody .tbody-td {
    border: 1px solid white;
    height:20px;
    width:135px;
    background-color:#D0D0D0;
}

.cal-tbody .tbody-td-off {
    border: 1px solid white;
    height:20px;
    width:135px;
    background-color:gray;
}

.cal-tbody .tbody-td-today {
    border: 1px solid white;
    height:20px;
    width:135px;
    background-color:#F3DAE4;
}

.tbody-td-time {
    color:black;
}

.cal-tbody .tbody.tr {
    
}

.action {
    width:100%;
    background-color:rgb(127, 175, 61);
    position:relative;
    color:white;
    cursor:default;
    border:solid 1px white;
}

.myPopup {
    position:absolute;
    width:300px;
    height:350px;
    background:white;
    border:solid 1px rgb(127, 175, 61);
    z-index:2;
}