﻿
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.menu-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.menu-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.menu-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.menu-table,.menu-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.menu-table-all{border:1px solid #ccc}
.menu-bordered tr,.menu-table-all tr{border-bottom:1px solid #ddd}.menu-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.menu-table-all tr:nth-child(odd){background-color:#fff}.menu-table-all tr:nth-child(even){background-color:#f1f1f1}
.menu-hoverable tbody tr:hover,.menu-ul.menu-hoverable li:hover{background-color:#ccc}.menu-centered tr th,.menu-centered tr td{text-align:center}
.menu-table td,.menu-table th,.menu-table-all td,.menu-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.menu-table th:first-child,.menu-table td:first-child,.menu-table-all th:first-child,.menu-table-all td:first-child{padding-left:16px}

.menu-btn,.menu-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:#7FAF3D;/*:inherit;*/background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap;font-size:16px;}
.menu-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.menu-btn,.menu-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.menu-disabled,.menu-btn:disabled,.menu-button:disabled{cursor:not-allowed;opacity:0.3}.menu-disabled *,:disabled *{pointer-events:none}
.menu-btn.menu-disabled:hover,.menu-btn:disabled:hover{box-shadow:none}
.menu-badge,.menu-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.menu-badge{border-radius:50%}
.menu-ul{list-style-type:none;padding:0;margin:0}.menu-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.menu-ul li:last-child{border-bottom:none}
.menu-tooltip,.menu-display-container{position:relative}.menu-tooltip .menu-text{display:none}.menu-tooltip:hover .menu-text{display:inline-block}
.menu-ripple:active{opacity:0.5}.menu-ripple{transition:opacity 0s}
.menu-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.menu-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.menu-dropdown-click,.menu-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.menu-dropdown-hover:hover .menu-dropdown-content{display:block;z-index:1}
.menu-dropdown-hover:first-child,.menu-dropdown-click:hover{background-color:#ccc;color:#000}
.menu-dropdown-hover:hover > .menu-button:first-child,.menu-dropdown-click:hover > .menu-button:first-child{background-color:#ccc;color:#000}
.menu-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.menu-check,.menu-radio{width:24px;height:24px;position:relative;top:6px}
.menu-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.menu-bar-block .menu-dropdown-hover,.menu-bar-block .menu-dropdown-click{width:100%}
.menu-bar-block .menu-dropdown-hover .menu-dropdown-content,.menu-bar-block .menu-dropdown-click .menu-dropdown-content{min-width:100%}
.menu-bar-block .menu-dropdown-hover .menu-button,.menu-bar-block .menu-dropdown-click .menu-button{width:100%;text-align:left;padding:8px 16px}
.menu-main,#main{transition:margin-left .4s}
.menu-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.menu-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.menu-bar{width:100%;overflow:hidden; max-height:130px; min-height:46px;/*min-height:137px;*/}.menu-center .menu-bar{display:inline-block;width:auto}
.menu-bar .menu-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.menu-bar .menu-dropdown-hover,.menu-bar .menu-dropdown-click{position:static;float:left}
.menu-bar .menu-button{white-space:normal}
.menu-bar-block .menu-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.menu-bar-block.menu-center .menu-bar-item{text-align:center}.menu-block{display:block;width:100%}
.menu-responsive{overflow-x:auto}
.menu-container:after,.menu-container:before,.menu-panel:after,.menu-panel:before,.menu-row:after,.menu-row:before,.menu-row-padding:after,.menu-row-padding:before,
.menu-cell-row:before,.menu-cell-row:after,.menu-clear:after,.menu-clear:before,.menu-bar:before,.menu-bar:after{content:"";display:table;clear:both}
.menu-col,.menu-half,.menu-third,.menu-twothird,.menu-threequarter,.menu-quarter{float:left;width:100%}
.menu-col.s1{width:8.33333%}.menu-col.s2{width:16.66666%}.menu-col.s3{width:24.99999%}.menu-col.s4{width:33.33333%}
.menu-col.s5{width:41.66666%}.menu-col.s6{width:49.99999%}.menu-col.s7{width:58.33333%}.menu-col.s8{width:66.66666%}
.menu-col.s9{width:74.99999%}.menu-col.s10{width:83.33333%}.menu-col.s11{width:91.66666%}.menu-col.s12{width:99.99999%}

@media (min-width:601px){.menu-col.m1{width:8.33333%}.menu-col.m2{width:16.66666%}.menu-col.m3,.menu-quarter{width:24.99999%}.menu-col.m4,.menu-third{width:33.33333%}
.menu-col.m5{width:41.66666%}.menu-col.m6,.menu-half{width:49.99999%}.menu-col.m7{width:58.33333%}.menu-col.m8,.menu-twothird{width:66.66666%}
.menu-col.m9,.menu-threequarter{width:74.99999%}.menu-col.m10{width:83.33333%}.menu-col.m11{width:91.66666%}.menu-col.m12{width:99.99999%}}
    
@media (min-width:993px){.menu-col.l1{width:8.33333%}.menu-col.l2{width:16.66666%}.menu-col.l3{width:24.99999%}.menu-col.l4{width:33.33333%}
.menu-col.l5{width:41.66666%}.menu-col.l6{width:49.99999%}.menu-col.l7{width:58.33333%}.menu-col.l8{width:66.66666%}
.menu-col.l9{width:74.99999%}.menu-col.l10{width:83.33333%}.menu-col.l11{width:91.66666%}.menu-col.l12{width:99.99999%}}
.menu-content{max-width:980px;margin:auto}.menu-rest{overflow:hidden}
.menu-cell-row{display:table;width:100%}.menu-cell{display:table-cell}
.menu-cell-top{vertical-align:top}.menu-cell-middle{vertical-align:middle}.menu-cell-bottom{vertical-align:bottom}
.menu-hide{display:none!important}.menu-show-block,.menu-show{display:block!important}.menu-show-inline-block{display:inline-block!important}

@media (max-width:600px){.menu-modal-content{margin:0 10px;width:auto!important}.menu-modal{padding-top:30px}
.menu-dropdown-hover.menu-mobile .menu-dropdown-content,.menu-dropdown-click.menu-mobile .menu-dropdown-content{position:relative}	
.menu-hide-small{display:none!important}.menu-mobile{display:block;width:100%!important}.menu-bar-item.menu-mobile,.menu-dropdown-hover.menu-mobile,.menu-dropdown-click.menu-mobile{text-align:center}
.menu-dropdown-hover.menu-mobile,.menu-dropdown-hover.menu-mobile .menu-btn,.menu-dropdown-hover.menu-mobile .menu-button,.menu-dropdown-click.menu-mobile,.menu-dropdown-click.menu-mobile .menu-btn,.menu-dropdown-click.menu-mobile .menu-button{width:100%}}
    
@media (max-width:768px)
{
    .menu-modal-content{width:500px}
    .menu-modal{padding-top:50px}
    .menu-bar{max-height: 56px;}
}
@media (min-width:993px){.menu-modal-content{width:900px}.menu-hide-large{display:none!important}.menu-sidebar.menu-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.menu-hide-medium{display:none!important}}
@media (max-width:992px){.menu-sidebar.menu-collapse{display:none}.menu-main{margin-left:0!important;margin-right:0!important}}
.menu-top,.menu-bottom{position:fixed;width:100%;z-index:1}.menu-top{top:0}.menu-bottom{bottom:0}
.menu-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.menu-display-topleft{position:absolute;left:0;top:0}.menu-display-topright{position:absolute;right:0;top:0}
.menu-display-bottomleft{position:absolute;left:0;bottom:0}.menu-display-bottomright{position:absolute;right:0;bottom:0}
.menu-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.menu-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.menu-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.menu-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.menu-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.menu-display-container:hover .menu-display-hover{display:block}.menu-display-container:hover span.menu-display-hover{display:inline-block}.menu-display-hover{display:none}
.menu-display-position{position:absolute}
.menu-circle{border-radius:50%}
.menu-round-small{border-radius:2px}.menu-round,.menu-round-medium{border-radius:4px}.menu-round-large{border-radius:8px}.menu-round-xlarge{border-radius:16px}.menu-round-xxlarge{border-radius:32px}
.menu-row-padding,.menu-row-padding>.menu-half,.menu-row-padding>.menu-third,.menu-row-padding>.menu-twothird,.menu-row-padding>.menu-threequarter,.menu-row-padding>.menu-quarter,.menu-row-padding>.menu-col{padding:0 8px}
.menu-container,.menu-panel{padding:0.01em 16px}.menu-panel{margin-top:16px;margin-bottom:16px}
.menu-code,.menu-codespan{font-family:Consolas,"courier new";font-size:16px}
.menu-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.menu-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.menu-card,.menu-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.menu-card-4,.menu-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.menu-spin{animation:menu-spin 2s infinite linear}@keyframes menu-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.menu-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.menu-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.menu-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.menu-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.menu-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.menu-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.menu-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.menu-animate-input{transition:width 0.4s ease-in-out}.menu-animate-input:focus{width:100%!important}
.menu-opacity,.menu-hover-opacity:hover{opacity:0.60}.menu-opacity-off,.menu-hover-opacity-off:hover{opacity:1}
.menu-opacity-max{opacity:0.25}.menu-opacity-min{opacity:0.75}
.menu-greyscale-max,.menu-grayscale-max,.menu-hover-greyscale:hover,.menu-hover-grayscale:hover{filter:grayscale(100%)}
.menu-greyscale,.menu-grayscale{filter:grayscale(75%)}.menu-greyscale-min,.menu-grayscale-min{filter:grayscale(50%)}
.menu-sepia{filter:sepia(75%)}.menu-sepia-max,.menu-hover-sepia:hover{filter:sepia(100%)}.menu-sepia-min{filter:sepia(50%)}
.menu-tiny{font-size:10px!important}.menu-small{font-size:12px!important}.menu-medium{font-size:15px!important}.menu-large{font-size:18px!important}
.menu-xlarge{font-size:24px!important}.menu-xxlarge{font-size:36px!important}.menu-xxxlarge{font-size:48px!important}.menu-jumbo{font-size:64px!important}
.menu-left-align{text-align:left!important}.menu-right-align{text-align:right!important}.menu-justify{text-align:justify!important}.menu-center{text-align:center!important}
.menu-border-0{border:0!important}.menu-border{border:1px solid #ccc!important}
.menu-border-top{border-top:1px solid #ccc!important}.menu-border-bottom{border-bottom:1px solid #ccc!important}
.menu-border-left{border-left:1px solid #ccc!important}.menu-border-right{border-right:1px solid #ccc!important}
.menu-topbar{border-top:6px solid #ccc!important}.menu-bottombar{border-bottom:6px solid #ccc!important}
.menu-leftbar{border-left:6px solid #ccc!important}.menu-rightbar{border-right:6px solid #ccc!important}
.menu-section,.menu-code{margin-top:16px!important;margin-bottom:16px!important}
.menu-margin{margin:16px!important}.menu-margin-top{margin-top:16px!important}.menu-margin-bottom{margin-bottom:16px!important}
.menu-margin-left{margin-left:16px!important}.menu-margin-right{margin-right:16px!important}
.menu-padding-small{padding:4px 8px!important}.menu-padding{padding:8px 16px!important}.menu-padding-large{padding:59px 24px!important}
.menu-padding-16{padding-top:16px!important;padding-bottom:16px!important}.menu-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.menu-padding-32{padding-top:32px!important;padding-bottom:32px!important}.menu-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.menu-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.menu-left{float:left!important}.menu-right{float:right!important}
.menu-button:hover{color:#000!important;background-color:#ccc!important}
.menu-transparent,.menu-hover-none:hover{background-color:transparent!important}
.menu-hover-none:hover{box-shadow:none!important}
/* Colors */
.menu-amber,.menu-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.menu-aqua,.menu-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.menu-blue,.menu-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.menu-light-blue,.menu-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.menu-brown,.menu-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.menu-cyan,.menu-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.menu-blue-grey,.menu-hover-blue-grey:hover,.menu-blue-gray,.menu-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.menu-green,.menu-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.menu-light-green,.menu-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.menu-indigo,.menu-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.menu-khaki,.menu-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.menu-lime,.menu-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.menu-orange,.menu-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.menu-deep-orange,.menu-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.menu-pink,.menu-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.menu-purple,.menu-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.menu-deep-purple,.menu-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.menu-red,.menu-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.menu-sand,.menu-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.menu-teal,.menu-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.menu-yellow,.menu-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.menu-white,.menu-hover-white:hover{color:#000!important;background-color:#fff!important; opacity:0.85}
.menu-black,.menu-hover-black:hover{color:#000!important;background-color:#000!important; opacity:0.5}
.menu-grey,.menu-hover-grey:hover,.menu-gray,.menu-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.menu-light-grey,.menu-hover-light-grey:hover,.menu-light-gray,.menu-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.menu-dark-grey,.menu-hover-dark-grey:hover,.menu-dark-gray,.menu-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.menu-pale-red,.menu-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.menu-pale-green,.menu-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.menu-pale-yellow,.menu-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.menu-pale-blue,.menu-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.menu-text-red,.menu-hover-text-red:hover{color:#f44336!important}
.menu-text-green,.menu-hover-text-green:hover{color:#4CAF50!important}
.menu-text-blue,.menu-hover-text-blue:hover{color:#2196F3!important}
.menu-text-yellow,.menu-hover-text-yellow:hover{color:#ffeb3b!important}
.menu-text-white,.menu-hover-text-white:hover{color:#fff!important}
.menu-text-black,.menu-hover-text-black:hover{color:#000!important}
.menu-text-grey,.menu-hover-text-grey:hover,.menu-text-gray,.menu-hover-text-gray:hover{color:#757575!important}
.menu-text-amber{color:#ffc107!important}
.menu-text-aqua{color:#00ffff!important}
.menu-text-light-blue{color:#87CEEB!important}
.menu-text-brown{color:#795548!important}
.menu-text-cyan{color:#00bcd4!important}
.menu-text-blue-grey,.menu-text-blue-gray{color:#607d8b!important}
.menu-text-light-green{color:#8bc34a!important}
.menu-text-indigo{color:#3f51b5!important}
.menu-text-khaki{color:#b4aa50!important}
.menu-text-lime{color:#cddc39!important}
.menu-text-orange{color:#ff9800!important}
.menu-text-deep-orange{color:#ff5722!important}
.menu-text-pink{color:#e91e63!important}
.menu-text-purple{color:#9c27b0!important}
.menu-text-deep-purple{color:#673ab7!important}
.menu-text-sand{color:#fdf5e6!important}
.menu-text-teal{color:#009688!important}
.menu-text-light-grey,.menu-hover-text-light-grey:hover,.menu-text-light-gray,.menu-hover-text-light-gray:hover{color:#f1f1f1!important}
.menu-text-dark-grey,.menu-hover-text-dark-grey:hover,.menu-text-dark-gray,.menu-hover-text-dark-gray:hover{color:#3a3a3a!important}
.menu-border-red,.menu-hover-border-red:hover{border-color:#f44336!important}
.menu-border-green,.menu-hover-border-green:hover{border-color:#4CAF50!important}
.menu-border-blue,.menu-hover-border-blue:hover{border-color:#2196F3!important}
.menu-border-yellow,.menu-hover-border-yellow:hover{border-color:#ffeb3b!important}
.menu-border-white,.menu-hover-border-white:hover{border-color:#fff!important}
.menu-border-black,.menu-hover-border-black:hover{border-color:#000!important}
.menu-border-grey,.menu-hover-border-grey:hover,.menu-border-gray,.menu-hover-border-gray:hover{border-color:#bbb!important}

.therap-container:after,.therap-container:before,.menu-panel:after,.menu-panel:before,.menu-row:after,.menu-row:before,.menu-row-padding:after,.menu-row-padding:before,
.therap-container,.menu-panel{padding:0.01em 16px}.menu-panel{margin-top:16px;margin-bottom:16px}

.reg_form {
  display:inline;
  /*display: block;*/
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #D0D0D0;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.button {
  display: inline-block;
  background-color: #70B246;/* #015217;*/
  color: #fff;
  min-width:100px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #fff;
  border-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.button:hover
{
    color:lightgray;
    background-color:#015217;
    text-decoration:none;
}

.button_no_hover:hover
{
    background-color: #70B246;
    color: #fff;
}

.button_no_border
{
    border: 0px solid;
}

.left_col
{
    /*float:left;
    width:30%;*/
    text-align:left;
    height:32px;
    color:#999;
    font-size:15px;
}

.right_col
{
    /*float:left;
    width:40%;
    margin-left:30px;*/
    text-align:left;
    height:32px;
    color:#999;
    font-size:15px;
    font-weight:bold;
}

.wrapper_2 {
    width: 600px;
    overflow: auto; /* so the size of the wrapper is alway the size of the longest content */
}

.left_col_2
{
    float: left;
    width: 110px;
    padding-top:20px;
    height:40px;
    color:#999;
    /*float:left;
    width:30%;*/
    text-align:left;
    font-size:15px;
}

.right_col_2
{
    padding-top:20px;
    padding-left:10px;
    font-size:large;
    font-weight:bolder;
    margin: 0 0 0 112px; /* considering the border you need to use a margin so the content does not float under the first div*/
    /*float:left;
    width:40%;*/
    margin-left:30px;
    text-align:left;
    height:40px;
    color:#999;
    font-size:15px;
    font-weight:bold;
}


.footer-class
{

}

.footer-class:hover
{
    color:#e1e1e1;
    text-decoration:none;
}

.img-circle {
    border-radius: 50%;
}

/*.map-tooltip
{
    height:300px;
    width:200px;
}*/

#wrapper {
    width: 260px;
    /*border: 1px solid black;*/
    overflow: auto; /* so the size of the wrapper is alway the size of the longest content */
}
#first {
    float: left;
    width: 80px;
    padding-top:20px;
    /*border: 1px solid red;*/
}
#second {
    /*border: 1px solid green;*/
    padding-top:20px;
    padding-left:10px;
    font-size:large;
    font-weight:bolder;
    margin: 0 0 0 112px; /* considering the border you need to use a margin so the content does not float under the first div*/
}

.h2_sos_header {
    color:#4B875C;
    font-size:36px;
    font-weight:bolder;
}

#bg {

  /*top: 0; 
  left: 0;*/ 
	
  /* Preserve aspet ratio */
  width: 100%;
}

.myDetail {
    position:relative;
    width:300px;
    height:480px;
    top:-490px;
    right:10px;
    float:right;
    /*top:-490px;
    float:right;*/
    margin-right:40px;
    background:red;
    /*display:none;*/
}

.headline_text {
    color:#2E7442;
    font-size:30px;
    font-weight:bolder;
}

@media (max-width:768px) {
    .headline_text{font-size:20px}
    .h2_sos_header{font-size:20px}
}