﻿<!DOCTYPE html>
<html>
<head>
    @{
        String ac = (DateTime.Now).ToString("yyyyMMddHHmmssffff");
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,600&amp;subset=latin-ext" rel="stylesheet">
    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css-src/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css-src/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/css-src/Menu.css" rel="stylesheet" />
    <link href="/Content/css-src/Calendar.css" rel="stylesheet" />
    <link href="~/Content/css-src/w3.css?v=@ac" rel="stylesheet" />
    <link href="~/Content/SOSbody.css?v=@ac" rel="stylesheet" />

    <link rel="icon" type="image/png" href="/favicon.ico">

    <script src="/Scripts/vendor/jquery-1.9.0.min.js"></script>
    <script src="/Scripts/vendor/jquery-ui-1.9.2.min.js"></script>
    <script src="/Scripts/vendor/file-upload/jquery.fileupload.js"></script>
    <script src="/Scripts/vendor/file-upload/jquery.fileupload-ui.js"></script>
    <script src="/Scripts/vendor/file-upload/jquery.iframe-transport.js"></script>
    <script src="/Scripts/vendor/slick.js"></script>
    <link href="/Scripts/vendor/file-upload/jquery.fileupload.css" rel="stylesheet" />
    <script src="/Scripts/vendor/moment.locales.min.js"></script>
    <script>
        var SOSbody = {};
    </script>

    <style>
        .container {
            padding-top: 10px;
        }

        .validation-summary-errors {
            color: #f00;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        ViewBag.Title = "SOS Body";
    }

    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>-->
    <script src="~/Scripts/hpMap.js?v=@ac"></script>
    <script src="~/Scripts/hpTherapistDetail.js?v=@ac"></script>
    <script src="~/Scripts/hpTherapistList.js?v=@ac"></script>
    <script src="~/Scripts/hpCarousel.js?v=@ac"></script>
    <script src="~/Scripts/anchors.js?v=@ac"></script>
    <script src="~/Scripts/searchForm.js?v=@ac"></script>
    <script src="~/Scripts/menu.js?v=@ac"></script>

    <script>
        SOSbody.setMapData(@Html.Raw(Json.Encode(Model)));
    </script>

    <!-- Navbar -->

    @{
        String menuItems = RenderSection("menuItems").ToHtmlString();
    }

    <div id="mymenu-large" class="w3-top" style="position:fixed;">
        <div class="w3-bar w3-white w3-card-2 w3-left-align">
            <a href="@Url.Action("Index", "Home")" title="List View" class="links menu-logo-link">
                <img src="~/Images/SOSBody_logo_219x120.png" id="sosbody_logo" class="w3-bar-item" />
            </a>
            <nav class="w3-hide-medium">
                @Html.Raw(menuItems)
            </nav>
            @*
            <strong class="phone-contact">
                <img src="~/Images/phone.png" alt="phone">
                800 123 456
            </strong>
                *@
            <div class="menu-mobile-icons">
                <a id="menu_clicked" class="w3-bar-item w3-button w3-padding-large w3-hide-large w3-right" href="javascript:void(0)" title="Zobrazit menu">
                    <i id="menu_clicked_bars" class="fa fa-bars fa-2x"></i>
                </a>
                @*<a id="menu_search" class="w3-bar-item w3-button w3-padding-large w3-hide-large w3-right" href="javascript:void(0)" title="Zobrazit vyhledávání">
                    <i class="fa fa-search fa-2x"></i>
                </a>*@
            </div>
            

        </div>
        @if (Request.Url.PathAndQuery == "/")
        {
            <div class="sticky-search-form">
                <form action="/" method="post">
                    <input name="Address" type="text" placeholder="Zadejte polohu" id="sticky-search-form--address" />
                    <input type="submit" name="submit" value="VYHLEDAT" class="button button_no_border" />
                </form>
            </div>
        }
        
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large">
        @Html.Raw(menuItems)
    </div>

    @RenderBody()
    @*<div class="container">
            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
        </div>*@

    <!-- footer -->
    <footer>
        <div class="menu-container menu-content menu-padding-64" id="footer_div">
            <div class="menu-row menu-padding-16">
                <div class="menu-third">
                    <p>
                        <strong>O NÁS</strong>
                    </p>
                    <p>
                        @Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "footer-class" })<br />
                        @*Affiliate program<br />*@
                        @Html.ActionLink("Volná pracovní místa", "Career", "Home", null, new { @class = "footer-class" })
                    </p>
                </div>
                <div class="menu-third">
                    <p>
                        <strong>PRO ZÁKAZNÍKY</strong>
                    </p>
                    <p>
                        Časté dotazy<br />
                        @*Benefit program<br />*@
                        @Html.ActionLink("Garance spokojenosti", "Guarantee", "Home", null, new { @class = "footer-class" })
                    </p>
                </div>
                <div class="menu-third">
                    <p>
                        <strong>OBECNÉ</strong>
                    </p>
                    <p>
                        @Html.ActionLink("Podmínky užití SOSbody.cz", "Terms", "Home", null, new { @class = "footer-class" })<br />
                        @Html.ActionLink("Proč SOS Body?", "Proc", "Home", null, new { @class = "footer-class" })<br />
                        @*Etický kodex*@
                    </p>
                </div>
            </div>
            <div class="menu-row menu-padding-16">
                <div class="menu-half copyright">
                    Copyright &copy; 2018 - all rights reserved SOSKA Tech s.r.o.
                </div>
                <div class="menu-half social">
                    <a href="https://www.facebook.com/sosbodycz/" target="_blank" title="Facebook"><i class="fa fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/sos-body/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                    @*<a href="#" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>*@
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
