﻿@using SosBody.Models;
@model SosBody.Models.ContactModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

 <!-- Page content -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="menu-wide w3-center h2_sos_header">KONTAKT</h2>
</div>
<div class="w3-container w3-content" id="contact" style="padding-bottom:0px;">
    <div class="w3-row">
        <div class="w3-center">
            <p style="color:#4B875C;font-size:24px;font-style:italic;">
                SOSKA Tech s.r.o.
            </p>
            <p style="color:#4B875C;font-size:17px;font-style:italic;">
                Nad Vavrouškou 694/9<br />
                181 00 Praha 8 - Troja<br /><br />

                IČO: 055 56 546<br /><br />

                zapsaná u Městského soudu v Praze pod sp. zn. C 265786
            </p>
            <br />
            <p style="color:#4B875C;font-size:17px;">
                Tel.: +420 770 179 030
            </p>
            <p style="color:#4B875C;font-size:17px;">
                E-mail: info (at) sosbody.cz
            </p>
        </div>
        <br /><br />
        <h4 class="menu-wide w3-center">Nechte nám vzkaz</h4>
        <div class="w3-col m12">
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="w3-center form-group" style="align-content:center;">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "reg_form" })
                </div>
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.Text)
                    @Html.TextAreaFor(x => x.Text, htmlAttributes: new { @class = "reg_form", @style = "height:200px;" })
                </div>
                <div class="w3-center">
                    <button type="submit" class="button">ODESLAT VZKAZ</button>
                </div>
            }
        </div>
    </div> 
</div>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
    <div style="background-color:#015217;height:1px;width:100%;margin-top:20px;">

    </div>
    <div class="w3-ceenter w3-padding-32" style="padding:20px;">
        Chcete být informováni, co je u nás nového? Zanechte nám váš e-mail a my vás budeme pravidelně informovat o akčních nabídkách a výhodách SOS Body. Vyplněním e-mailu souhlasíte se zasíláním Newsletteru. Děkujeme.
    </div>
</div>
<div class="w3-container w3-content w3-padding-16" style="max-width:400px;padding-bottom:64px!important;">
    <div class="w3-row">
        <div class="w3-col m12">
            @using (Html.BeginForm("MedicEmail", "Home", FormMethod.Post))
            {
                <div class="w3-center form-group" style="align-content:center;">
                    @Html.LabelFor(x => x.MedicEmail)
                    @Html.TextBoxFor(x => x.MedicEmail, new { @class = "reg_form" })
                </div>
                <div class="w3-center">
                    <button type="submit" class="button">VLOŽIT</button>

                </div>
            }
        </div>
    </div>
</div>





    <script>

        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
