﻿@using SosBody.Models;
@model SosBody.Models.ContactModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

 <!-- Page content -->

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="menu-wide w3-center h2_sos_header">GARANCE SPOKOJENOSTI</h2>
    <p class="w3-justify w3-padding-64" style="padding-top:50px;font-size:15px;text-align:justify;">
        Snažíme se pro Vás vyhledávat zkušené, spolehlivé a šikovné fyzioterapeuty, kteří Vám dokáží

        pomoci. Vaše pozitivní zkušenosti nejen s naší službou, ale i při samotném ošetření jsou pro nás proto

        velmi důležité.<br /><br />

        Nebyli jste s čímkoliv spokojeni? Zavolejte nebo napište, moc rádi Vás vyslechneme a zjednáme

        nápravu.
    </p>
    <div class="w3-col m12">
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            <div class="w3-center form-group" style="align-content:center;">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "reg_form" })
            </div>
            <div class="w3-center form-group">
                <strong>Zanechte nám vzkaz:</strong>
                @Html.TextAreaFor(x => x.Text, htmlAttributes: new { @class = "reg_form", @style = "height:150px;" })
            </div>
            <div class="w3-center">
                <button type="submit" class="button">ODESLAT VZKAZ</button>
            </div>
        }
    </div>
</div>