﻿@using SosBody.Models
@model SosBody.Models.FindPhysioModel

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
}

<div class="w3-container w3-content w3-center hp-banner green-underline" id="menu-content2">
    <!--<div class="lighten-overlay"></div>-->
    <div class="w3-container hp-search-form">
        <h1>FYZIOTERAPEUTICKÁ POHOTOVOST</h1>
        @*<h2>NAJDĚTE SI VOLNÉHO FYZIOTERAPEUTA</h2>*@
        <h2><i>RYCHLÁ ÚLEVA NA 3 KLIKNUTÍ</i></h2>
        @*
        <ul class="w3-row">
            <li><label><input type="radio" name="sort" value="distance">podle místa působení</label></li>
            <li><label><input type="radio" name="sort" value="rating">podle hodnocení</label></li>
        </ul>
        *@
        <div class="w3-row w3-padding-16">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Distance)
                <div class="w3-col m10" style="padding:5px 0">
                    @Html.TextBoxFor(x => x.Address, new { @class = "reg_form", style = "color:black; background-color:white; opacity:1.0; font-size:15px;" })
                </div>
                @*<div class="w3-col m2" style="padding:5px 10px 5px 10px;">
                    @Html.DropDownListFor(x => x.Distance, new SelectList(Model.MapDistanceItemTypes, "Value", "Text"), "  Vzdálenost  ", new { @class = "reg_form", style = "color:black; background-color:white; opacity:1.0; font-size:15px;" })
                </div>
                <div class="w3-col m2" style="padding:5px 10px 5px 10px;">
                    @Html.DropDownListFor(x => x.OpenningHours, new SelectList(Model.MapAvailabilityItemTypes, "Value", "Text"), " Ordinační hodiny ", new { @class = "reg_form", style = "color:black; background-color:white; opacity:1.0; font-size:15px;" })
                </div>*@
                <div class="w3-col m2" style="padding:5px 0">
                    <button type="submit" class="button button_no_border">VYHLEDAT</button>
                </div>
            }
        </div>
        <div class="search-spinner-overlay">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
    </div>
    <a href="javascript:SOSbody.anchors.go('googleMap', 250)" class="scroll-to-map">
        <img src="~/Images/drop.png" alt="">
    </a>
</div>

<div class="menu-content2 green-underline" id="three-steps">
    <div class="w3-container w3-content w3-center w3-padding-16" id="band">
        <div class="w3-row w3-padding-small">
            <div class="step">
                <img src="~/Images/SOS_step1_184x184.png" class="w3-round w3-margin-bottom" alt="">
                <div class="va-container">
                    <p>
                        <span>ZADEJTE POLOHU</span>
                    </p>
                </div>
                
            </div>
            <div class="sep"></div>
            <div class="step">
                <img src="~/Images/SOS_step2_184x184.png" class="w3-round w3-margin-bottom" alt="">
                <div class="va-container">
                    <p>
                        <span>VYBERTE FYZIOTERAPEUTA</span>
                    </p>
                </div>
            </div>
            <div class="sep"></div>
            <div class="step">
                <img src="~/Images/SOS_step3_184x184.png" class="w3-round w3-margin-bottom" alt="">
                <div class="va-container">
                    <p>
                        <span>REZERVUJTE SI&nbsp;TERMÍN</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Section != null)
{
    <script>
        $(function () {
                window.location.hash = '#@ViewBag.Section';
        });
    </script>
}

    <!-- The Physioterapeutics Section -->
    <div id="therapists-carousel" class="green-underline">
            <div class="therap-container menu-content menu-center" id="band">
                <a href="javascript:void(0)" class="carousel-prev"></a>
                <div class="menu-row menu-padding-32" id="hp-slick-wrapper">
                    @foreach (var carouselItem in Model.Carousel)
                    {
                        <div class="therapist-carousel-item" data-user-id="@carouselItem.UserId" onclick="SOSbody.therapistDetail.render()">
                            <div class="carousel-portrait" style="background-image:url(@carouselItem.ProfileImage)">
                                <div class="hover-overlay">
                                    <strong>@carouselItem.Name</strong>
                                    <p class="location"></p>
                                    <p class="opening-hrs">@carouselItem.OpenningHours</p>
                                </div>
                            </div>
                            <div class="location">
                                @carouselItem.City
                            </div>
                            <div class="rating">
                                98%
                            </div>
                        </div>
                    }
                </div>
                <a href="javascript:void(0)" class="carousel-next"></a>
            </div>
        </div>
        <script>
            var hpCarouselItems = @Html.Raw(Json.Encode(Model.Carousel));
        </script>

    <!-- Add Google Maps -->
    @*class="menu-grayscale-max"*@
    <div id="find_us">
        <div class="w3-row w3-center" >
            <h2>Kde nás najdete</h2>
        </div>
    </div>
    <div class="map-wrapper green-underline">
        <div id="googleMap">
        </div>
        <div id="therapist-detail" class="therapist-detail active" style="display:none">
            <a class="hide-control" href="javascript:SOSbody.therapistDetail.hide()">&times;</a>
            <img src="~/Images/no_profile_photo.png" class="portrait" alt="" style="border-radius:50%;height:50px;width:50px;">
            <h3 data-attr="name"></h3>
            <p class="rating">@*83%*@</p>
            <dl>
                <dt>Adresa</dt>
                <dd data-attr="address">
                    @*
                        Oblouková 666/14<br>
                        Praha 4<br>
                        140 00
                    *@
                </dd>
                @*<dt>Telefon</dt>
                    <dd data-attr="phone">+420 604 123 456</dd>
                    <dt>E-mail</dt>
                    <dd data-attr="email">kropacek@the-rapist.com</dd>*@
            </dl>
            <h4 data-attr="header">Nejbližší volné termíny</h4>
            <table class="schedule">
                @*<tr data-id="4863" class="active">
                    <th>Dnes <i>(Út 2.10.)</i></th>
                    <td>10:00</td>
                    <td>500 Kč</td>
                </tr>
                <tr data-id="2086">
                    <th></th>
                    <td>12:30</td>
                    <td>500 Kč</td>
                </tr>
                <tr data-id="8123">
                    <th></th>
                    <td>17:45</td>
                    <td>500 Kč</td>
                </tr>
                <tr data-id="1024" class="next-day">
                    <th>Zítra <i>(St 3.10.)</i></th>
                    <td>7:30</td>
                    <td>500 Kč</td>
                </tr>
                <tr data-id="1384" class="next-day">
                    <th>Pátek <i>(Pá 5.10.)</i></th>
                    <td>20:00</td>
                    <td>500 Kč</td>
                </tr>*@
            </table>

            <a id="order-button" href="#" data-href-pattern="/home/order/?id=" class="button">Objednat</a>
            <div class="clearfix"></div>

            <a id="more-button" href="#" data-href-pattern="/home/medicprofile/?userid=" class="more">Všechny termíny...</a>
            <br />
            <div class="clearfix"></div>

            <p id="watchdog-text">Nenašli jste vhodný termín? Vložte svůj e-mail a my Vás budeme o volných termínech fyzioterapeuta informovat</p>
            <input type="hidden" value="" id="userId" />
            <input type="text" value="" id="watchdog-email" style="width:100%;" />
            <a id="insert-email-button" onclick="SOSbody.therapistDetail.insertWatchdogEmail()" class="button">Vložit e-mail</a>

            <div class="clearfix"></div>                

        </div>
    </div>
    <!-- Results list -->
    <div id="therapists-list" class="w3-container w3-content w3-center w3-padding-16">
        <div class="w3-row w3-padding-small">
            <h2>Výsledky</h2>
            @*<div class="w3-bar-item w3-white w3-center">
                Třídit podle: vzdálenosti / dostupnosti / hodnocení
            </div>*@
            @*@Html.DropDownListFor(x => x.Distance, new SelectList(Model.MapDistanceItemTypes, "Value", "Text"), "  Vzdálenost  ", new { @class = "reg_form", style = "color:black; background-color:white; opacity:1.0; font-size:15px;" })
            /
            @Html.DropDownListFor(x => x.OpenningHours, new SelectList(Model.MapAvailabilityItemTypes, "Value", "Text"), " Ordinační hodiny ", new { @class = "reg_form", style = "color:black; background-color:white; opacity:1.0; font-size:15px;" })*@
            <!-- results will be rendered here using hp-results.js -->
        </div>
    </div>
    <script>
        window.addEventListener('load', function () {
            SOSbody.therapistList.render(SOSbody.mapResults)
        });
    </script>
    
    <div>
    @*https://stackoverflow.com/questions/17173204/mvc-4-use-a-different-model-in-partial-view*@
    @*<div class="myDetail">
            @Html.Partial("DetailView", Model.PartialModel)
        </div>*@
        <script>
            var googleMapsApiLoadCallback = function () {
                SOSbody.enableSearchAutocomplete();
                SOSbody.setupMap();
                SOSbody.therapistList.render(SOSbody.mapResults);
            };
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIffBjmBOFjTj1L7qptEdkF-bPQ96RDhs&libraries=places&callback=googleMapsApiLoadCallback">
        </script>

    </div>




    <script>

        //function scrollTo(loc) {
        //    location.hash = loc;
        //}

        //window.onload = function() {
        //    scrollTo("#find_us");
        //};

        // When the user clicks anywhere outside of the modal, close it
        //var modal = document.getElementById('ticketModal');
        //window.onclick = function (event) {
        //    if (event.target == modal) {
        //        modal.style.display = "none";
        //    }
        //}

        //function detailClick() {

        //$('.myDetail').show();
        //$.ajax({
        //    type: "POST",
        //    url: "/Home/DetailView",
        //    data: ({ UserId: $('#UserId').val() }),
        //    success: function (result) {
        //        window.location.href = result.Url;
        //    }
        //});
        //}

    </script>

