﻿
@using SosBody.Models;
@model SosBody.Models.MedicProfileModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>




<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">PROFIL FYZIOTERAPEUTA</h2>

    <div class="w3-row w3-padding-32">
        @using (Html.BeginForm())
        {
            <div class="w3-col m4 w3-large w3-margin-bottom">
                <img class="img-circle" src="@Url.Content(Model.ProfileImage)" width="200" height="200">
            </div>
            <div class="w3-col m8 color-gray">
           
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Jméno
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Name
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Specializace
                    </div>
                    <div class="w3-twothird">
                        @if (Model.Spec1 == true)
                        {
                            @Html.LabelFor(x => x.Spec1) <br />
                        }
                        @if (Model.Spec2 == true)
                        {
                            @Html.LabelFor(x => x.Spec2) <br />
                        }
                        @if (Model.Spec3 == true)
                        {
                            @Html.LabelFor(x => x.Spec3) <br />
                        }
                        @if (Model.Spec4 == true)
                        {
                            @Html.LabelFor(x => x.Spec4) <br />
                        }
                        @if (Model.Spec5 == true)
                        {
                            @Html.LabelFor(x => x.Spec5) <br />
                        }
                        @if (Model.Spec6 == true)
                        {
                            @Html.LabelFor(x => x.Spec6) <br />
                        }
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Ordinace
                    </div>
                    <div class="w3-twothird">
                    </div>
                    <div class="w3-twothird">

                        @for (int i = 0; i < Model.Offices.Count; i++)
                        {
                            <address>
                                @Model.Offices[i].Street
                                @Model.Offices[i].StreetNo<br>
                                @Model.Offices[i].City<br>
                                @Model.Offices[i].PostalCode
                            </address>
                        }
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="w3-row-padding medic-schedule-wrapper" style="margin:0 -16px 8px -16px;">
                <h3>
                    Nejbližší volné termíny
                </h3>
                <table class="medic-schedule">

                    @foreach (var action in Model.Actions)
                    {
                        <tr>
                            <td width="100">
                                @action.Date
                            </td>
                            <td width="200">
                                @action.Address
                            </td>
                            <td width="140">
                                @action.Price Kč (@action.Duration min)
                            </td>
                            <td width="100">
                                @Html.ActionLink("OBJEDNAT", "Order", "Home", new { id = @action.Id}, new { @class = "button", @style="color:#fff;" })
                            </td>
                        </tr>
                    }

                </table>
            </div>

        }
    </div>
    <div class="clearfix"></div>
    <div id="map"></div>
    <script>
      function initMap() {
          var center = {
              lat: 49.7612062,
              lng: 15.763758
          };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: center,
          scrollwheel: false,
          draggable: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          fullscreenControl: false,
          streetViewControl: false
        });

        var model = @Html.Raw(Json.Encode(Model));
        var results = model["Offices"];

        if(results != null && results.length > 0)
        {
            var index = 0;
            results.forEach(function(item) {
                var it = { "Id": index, "PlaceName": item.Description, "GeoLong": item.Longitude, "GeoLat": item.Latitude };

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(it.GeoLat, it.GeoLong),
                    id : index,
                    map: map,
                    title: item.Description});
                marker.setIcon('/Images/map_symbol_35x45.gif');
                marker.setMap(map);
            });
        }
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIffBjmBOFjTj1L7qptEdkF-bPQ96RDhs&libraries=places&callback=initMap">
    </script>

</div>


<script>

        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

</script>

@*@Html.ActionLink("Form", "FormMedic", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Calendar", "Index", "Calendar", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Log Out", "Logout", "Account", null, new { @class = "btn btn-primary" })*@
