﻿
@using SosBody.Models;
@model SosBody.Models.UserOrderModel
@{
    ViewBag.Title = "Rezervace";
}



<div id="mymenu-large" class="w3-top" style="position:fixed;">
    <div class="w3-bar w3-white w3-card-2">
        <a id="menu_clicked" class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="ShowMenu()" title="Toggle Navigation Menu"><i id="menu_clicked_bars" class="fa fa-bars"></i></a>
        <a href="@Url.Action("Index", "Home")" title="List View" class="links"><img src="~/Images/SOSBody_logo_219x120.png" id="sosbody_logo" style="height:46px;" class="w3-bar-item" /></a>
        <nav>
            <div class="dropmenu-wrapper">
                <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE</a>
                <div class="dropmenu-content">
                    @Html.ActionLink("LÉKAŘ", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
                    @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
                </div>
            </div>
            @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
        </nav>
    </div>
</div>


<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-top">
    @Html.ActionLink("REGISTROVAT SE", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
    @*<a href="#band" class="w3-bar-item w3-button w3-padding-large">BAND</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large">TOUR</a>*@
    @*<a href="#contact" class="w3-bar-item w3-button w3-padding-large">KONTACT</a>*@
    @*<a href="#" class="w3-bar-item w3-button w3-padding-large">MERCH</a>*@
</div>

 <!-- Page content -->

<div class="w3-container w3-content w3-padding-64" style="max-width:600px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">MOJE REZERVACE</h2>
    <div class="w3-row w3-padding-32">
        
    </div>
</div>