﻿@using SosBody.Models;
@model SosBody.Models.OrderUserModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

 <!-- Page content -->

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:900px" id="band">
    <h2 class="menu-wide w3-center h2_sos_header">OBJEDNÁVKA</h2>
    <div class="w3-row w3-padding-32">  
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            @*<br /><br />
            <h3 style="font-size:22px;color:#4B875C;">Z technických důvodů momentálně nelze provést platbu. Na odstranění závady usilovně pracujeme. Za vzniklé problémy se velice omlouváme. Zkuste to prosím později.</h3>*@
            <div class="w3-col m6">
                @Html.HiddenFor(x => x.MedicUserId)
                @Html.HiddenFor(x => x.OfficeId)
                @Html.HiddenFor(x => x.ActionId)
                @Html.HiddenFor(x => x.Duration)

                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        @Html.LabelFor(x => x.Name)
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Name, new { @class = "reg_form", @style = "margin-right:10px;"})
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        @Html.LabelFor(x => x.LastName)
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.LastName, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        @Html.LabelFor(x => x.UserEmail)
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.UserEmail, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        @Html.LabelFor(x => x.UserPhone)
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.DropDownListFor(x => x.PhonePrefix, new SelectList(Model.PhonePrefixList, "Value", "Text"), new { @class = "reg_form", @style = "width:80px;", @onchange = "FillPhoneNumberLength(this.value)" })
                        @Html.TextBoxFor(x => x.UserPhone, new { @class = "reg_form", @style = "width:100px;", @maxlength = Model.PhonePrefixLength })
                        <p style="color:red;">@Model.ErrorMessage</p>
                    </div>
                </div>

            </div>
            <div class="w3-col m6">
                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        Fyzioterapeut:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.MedicName
                        @Html.HiddenFor(x => x.MedicName)
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        Adresa:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Address
                        @Html.HiddenFor(x => x.Address)
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        Termín:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Date
                        @Html.HiddenFor(x => x.Date)
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 16px 8px -16px">
                    <div class="w3-third left_col">
                        Cena:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Price
                        @Html.HiddenFor(x => x.Price) Kč s DPH (@Model.Duration min)
                    </div>
                </div>
            </div>
            <div class="w3-col m12 left_col w3-margin-bottom w3-margin-top">
                *povinné údaje
            </div>
            <div class="w3-col m12 left_col">
                @Html.CheckBoxFor(x => x.Accept) @Html.ActionLink("Souhlasím s podmínkami užití SOSbody.cz", "Terms", "Home", null, new { @class = "footer-class" })
            </div>
            <div class="w3-col m12 w3-padding-32">
                <button type="submit" class="button">ZAPLATIT</button>
            </div>
        }
    </div>
</div>
<script>

    function FillPhoneNumberLength(val) {
        $.ajax({
            url: '/Admin/GetPhoneNumberLength',
            type: "POST",
            dataType: "JSON",
            data: { prefix: val },
            success: function (result) {
                $('#Phone').attr("maxlength", result.Length);
            }
        });
    }

        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

</script>
