﻿@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;" id="band">
    <h2 class="menu-wide w3-center h2_sos_header">PROČ SOS BODY?</h2>
    <p class="w3-justify w3-padding-64" style="padding-top:50px;font-size:15px;text-align:justify;">
        SOS Body propojuje fyzioterapeuta a pacienty v moderním online světě. Dost bylo zdlouhavých telefonátů.
        <br /><br />
        Pro fyzioterapeuty
        <br /><br />  
        SOS Body pomůže zaplnit prázdná okénka ve Vašem kalendáři. Omluvil se Vám některý z pacientů, že
        ten den na ošetření nedorazí? Nevadí, Vaši kapacitu může prostřednictvím SOS Body využít kdokoliv,
        kdo potřebuje ošetření co nejdříve. V naší aplikaci si vyhledá, kdy máte volno a čas si rovnou
        rezervuje. Bez jediného telefonátu a zatěžování Vaší administrativy.
        <br /><br />
        SOS Body pomáhá:<br />
        - zefektivnit Vaší pracovní dobu<br />
        - získat nové pacienty<br />
        - že nebudete přicházet o příjmy<br />
        <br /><br />
        Pro pacienty:
        <br /><br />
        Vzbudili jste se ráno se zablokovaným krkem nebo nesnesitelnou bolestí zad? Potřebujete rychlou
        pomoc odborníka, ale objednací doby bývají dlouhé a najít fyzioterapeuta, který by Vás ošetřil ještě
        ten den, je nadlidský úkol? SOS Body je tu přesně pro Vás. Nepotřebujete nikam telefonovat a
        zdlouhavě se doptávat a doufat ve volný termín.
        <br /><br />
        SOS Body vyřeší Vaše problémy během chvilky:<br />
        - jednoduše si vyhledejte nejbližšího fyzioterapeuta s volnou kapacitou<br />
        - rezervujete si čas v kalendáři fyzioterapeuta<br />
        - těšte se na ošetření
    </p>
</div>