﻿
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}


<!-- Page content -->

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="menu-wide w3-center h2_sos_header">ODHLÁŠENÍ</h2>
    <p class="w3-justify w3-padding-64" style="padding-top:50px;font-size:15px;text-align:justify;">
        Vaše odhlášení z odběru newsletteru proběhlo úspěšně.
    </p>
</div>
