﻿
@using SosBody.Models;

@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

 <!-- Page content -->

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:500px" id="band">
    <h2 class="menu-wide w3-center h2_sos_header">REZERVACE ZRUŠENA</h2>
    <div class="w3-row w3-padding-32">
    <div class="w3-col m12">
        Vaše rezervace byla úspěšně zrušena.
    </div>
</div>

</div>
