﻿
@using SosBody.Models;
@model SosBody.Models.ReservationDetailModel

@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

 <!-- Page content -->

<div class="w3-container w3-content w3-center w3-padding-64" style="width:500px" id="Reservation">
    <h2 class="menu-wide w3-center h2_sos_header">MOJE REZERVACE</h2>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m12 w3-center">
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Kód rezervace:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Code
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Jméno fyzioterapeuta:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.MedicName
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Adresa ordinace:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.MedicAddress
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Telefon:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Phone
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        E-mail:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Email
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Datum:
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Date hod.
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        
                    </div>
                    <div class="w3-twothird right_col">
                        @if (Model.CancelEnabled == true)
                        {
                            @Html.ActionLink(
                            "ZRUŠIT REZERVACI",
                            "DeleteOrder",
                            "Home",
                            new { orderId = Model.OrderId },
                            new { onclick = "return confirm('Opravdu si přejete zrušit rezervaci?')", @class = "button" })
                        }
                    </div>
                </div>
            }
        </div>
</div>

</div>
