﻿@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
}

 <!-- Page content -->

<div class="w3-container w3-content w3-padding-64 terms-page">
    <h2 class="menu-wide w3-center h2_sos_header">PODMÍNKY UŽITÍ SOSBODY.CZ</h2>
    
    <h3>
        Podmínky užití
    </h3>
    <p>
    Podmínky užití rezervačního systému SOS Body, zastoupené obchodní společnosti SOSKA Tech s.r.o., IČO: 05556546 se sídlem Nad Vavrouškou 694/9, Troja, 181 00 Praha 8 společnost zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, oddíl C, vložka 265786 (dále jen „SOS Body“) pro přístup a užití webových stránek www.sosbody.cz (dále jen „Podmínky“)
    </p>

    <h3>
        1. Úvodní ustanovení
    </h3>
    <p>
        1.1.	SOS Body provozuje a spravuje portál agregace volných termínů fyzioterapeutických ordinací na internetové stránce www.sosbody.cz (dále jen „Portál SOSbody.cz“). SOS Body pronajímá Portál SOSbody.cz a související služby jiným podnikatelům (dále jen „Zájemce“) a vyvíjí činnost k tomu, aby Zájemce měl možnost prostřednictvím Portálu SOSbody.cz uzavírat s třetími osobami (dále jen „Zákazník“) smlouvy na využití služeb a/nebo zboží Zájemce (dále jen „Zprostředkovaná smlouva“).
    </p>
    <p>
        1.2.	Podmínky upravují práva a povinnosti osob využívajících Portál SOSbody.cz (dále jen „Uživatel“) při vstupu na Portál SOSbody.cz, a dalším používání Portálu SOSbody.cz, jakož i další související právní vztahy.
    </p>
    <p>
        1.3.	Uživatel vstupem na Portál SOSbody.cz stvrzuje, že se seznámil s aktuálním zněním Podmínek, a zavazuje se jimi řídit.
    </p>
    <p>
        1.4.	SOSbody.cz může znění podmínek jednostranně měnit či doplňovat. SOSbody.cz informuje Uživatele o změně Obchodních podmínek na Portálu SOSbody.cz, případně jiným vhodným způsobem tak, aby se s aktuálním zněním podmínek Uživatel mohl bez nepřiměřených obtíží seznámit. Podmínky nabývají účinnosti okamžikem jejich zveřejnění na Portálu SOSbody.cz.
    </p>

        <h3>2. Použití Portálu SOSbody.cz</h3>
    
    <p>
        2.1.	Přístup a používání Portálu SOSbody.cz je bezplatné. Uživatel nese však náklady vzniklé mu v souvislosti s realizací přístupu a používáním Portálu SOSbody.cz (tj. náklady na internetové připojení aj.).
    </p>
    <p>
        2.2.	SOS Body není účastníkem smluvních vztahů mezi Zákazníkem a Zájemcem. SOSbody.cz nenese žádnou odpovědnost za splnění povinností ze Zprostředkované smlouvy ani nenese odpovědnost za případnou škodu vzniklou Uživateli na základě nebo v souvislosti se Zprostředkovanou smlouvou.
    </p>
    <p>
        2.3.	SOS Body pronajímá Portál SOSbody.cz Zájemcům, a nenese odpovědnost za případnou závadnost obsahu či vzhledu materiálů zveřejňovaných Zájemci na Portálu SOSbody.cz. SOS Body neodpovídá za úplnost, přesnost, pravdivost materiálů zveřejňovaných na Portálu SOSbody.cz ani za případné nekalosoutežní jednání Zájemce prostřednictvím Portálu SOSbody.cz nebo porušení osobnostních nebo autorských práv. Všechny ceny na Portálu SOSbody.cz jsou ceny za nákup voucheru. SOS Body neodpovídá za škody vzniklé v souvislosti s užitím informací zveřejněných na Portálu SOSbody.cz.
    </p>
    <p>
        2.4.	SOS Body nezaručuje nepřerušený přístup na Portál SOSbody.cz. SOS Body neodpovídá za škodu způsobenou Uživateli při realizaci přístupu a užívání Portálu SOSbody.cz, včetně případné škody vzniklé při stahování dat zveřejněných na Portálu SOSbody.cz, škody způsobené přerušením provozu, poruchou Portálu SOSbody.cz, počítačovými viry, škodu v důsledku ztráty dat, zisku, neoprávněného přístupu k přenosům a datům Uživatele.
    </p>
    <p>
        2.5.	Kliknutím na některé odkazy na Portálu SOSbody.cz může dojít k opuštění Portálu SOSbody.cz a k přesměrování na webové stránky třetích subjektů.
    </p>
    <p>
        2.6.	SOS Body si vyhrazuje právo kdykoliv omezit či ukončit přístup Uživatele na Portál SOSbody.cz.
    </p>
    <p>
        2.7.	Uživatel nese odpovědnost za veškerou škodu vzniklou neoprávněným zásahem Uživatele do Portálu SOSbody.cz či systému, který realizuje přenos z Portálu SOSbody.cz třetím osobám.
    </p>
    

    <h3>3. Ochrana osobních údajů</h3>
    </p>
    <p>
        3.1.	SOS Body zpracovává osobní údaje Uživatelů, kteří vyplní registrační formulář, případně neregistrovaných Uživatelů, kteří uzavřou Zprostředkovanou smlouvu se Zájemcem. Ustanovení článku 3. Podmínek se týká pouze registrovaných Uživatelů a Uživatelů, kteří uzavírají prostřednictvím Portálu SOSbody.cz Zprostředkovanou smlouvu.
    </p>
    <p>
        3.2.	Ochrana osobních údajů Uživatele, který je fyzickou osobou, je zajištěna v souladu se zákonem č. 101/2000 Sb., o ochraně osobních údajů, v platném znění.
    </p>
    <p>
        3.3.	Uživatel souhlasí se zpracováním těchto svých osobních údajů: jméno, příjmení, e-mailová adresa, telefonní číslo (dále vše společně jen jako „Osobní údaje“).
    </p>
    <p>
        3.4.	Uživatel souhlasí se zpracováním Osobních údajů SOS Body, a to pro účely realizace práv a povinností ze Zprostředkované smlouvy a pro účely zasílání informací a obchodních sdělení.
    </p>
    <p>
        3.5.	Uživatel bere na vědomí, že je povinen své Osobní údaje uvádět správně a pravdivě, a že je povinen bez zbytečného odkladu informovat SOS Body o změně ve svých Osobních údajích.
    </p>
    <p>
        3.6.	Zpracováním Osobních údajů může SOS Body, jako správce, pověřit třetí osobu jakožto zpracovatele. Aktuální seznam zpracovatelů Osobních údajů bude vždy zveřejněn na Portálu SOSbody.cz.
    </p>
    <p>
        3.7.	Osobní údaje budou zpracovávány po dobu neurčitou.
    </p>
    <p>
        3.8.	Uživatel potvrzuje, že poskytnuté Osobní údaje jsou přesné a že byl poučen o tom, že se jedná o dobrovolné poskytnutí Osobních údajů. Uživatel dále prohlašuje, že byl poučen o tom, že souhlas se zpracováním Osobních údajů může ve vztahu k SOS Body odvolat písemným oznámením doručeným na adresu SOS Body.
    </p>
    <p>
        3.9.	V případě, že by se Uživatel domníval, že SOS Body nebo zpracovatel provádí zpracování jeho Osobních údajů v rozporu s ochranou soukromého a osobního života Uživatele nebo v rozporu se zákonem, může požádat SOS Body o vysvětlení a požadovat, aby odstranil závadný stav.
    </p>
    <p>
        3.10.	Požádá-li Uživatel o informaci o zpracování svých Osobních údajů, je mu SOS Body povinno tuto informaci předat. SOS Body má právo za poskytnuté informace podle předchozí věty požadovat přiměřenou úhradu nepřevyšující náklady nezbytné na poskytnutí informace.
    </p>
    <p>
        3.11.	Uživatel souhlasí se zasíláním informací souvisejících se službami SOS Body a Zájemců na elektronickou adresu Uživatele uvedenou v Objednávce a dále souhlasí se zasíláním obchodních sdělení SOS Body na tuto adresu. Souhlas Uživatele se zasíláním obchodních sdělení je dobrovolný. Uživatel je oprávněn kdykoli tento souhlas písemně odvolat.
    </p>

    <h3>4. Autorská práva</h3>
    
    <p>
        4.1.	SOS Body je vlastníkem Portálu SOSbody.cz.
    </p>
    <p>
        4.2.	Portál SOSbody.cz je autorským dílem ve smyslu zákona č. 121/2000 Sb., autorský zákon, v platném znění. SOS Body vykonává veškerá majetková práva vztahující se k Portálu SOSbody.cz.
    </p>
    <p>
        4.3.	Obsah Portálu SOSbody.cz nelze uchovávat, upravovat, šířit ani k němu vykonávat jiná majetková práva, ledaže k takovému jednání udělil SOS Body předem souhlas.
    </p>
    
        <h3>5. Práva a povinnosti Uživatele</h3>
    
    <p>
        5.1.	Uživatel vůči SOS Body prohlašuje a zaručuje, že:
    </p>
    <ol>
        <li>je způsobilý k právním úkonům, a to zejména s ohledem na svůj věk, nebo je zastoupen zákonným zástupcem,</li>
        <li>veškeré údaje, které poskytuje SOS Body, jsou pravdivé, úplné, přesné a správné,</li>
        <li>se před zahájením užívání Portálu SOSbody.cz důkladně seznámil s těmito Podmínkami, že těmto podmínkám zcela rozumí a souhlasí s nimi.</li>
        <li>bude používat Portál SOSbody.cz, nakupovat na něm a vkládat příspěvky do diskuze prostřednictvím ne více než jednoho uživatelského účtu. V případě oprávněného podezření, že Uživatel vytvořil a užívá více uživatelských účtů, má SOS Body právo tyto účty zablokovat a smazat.</li>
    </ol>
    
        

    <p>
        5.2.	Uživatel je povinen při užívání Portálu SOSbody.cz dodržovat právní předpisy a dále je povinen vždy respektovat práva SOS Body i třetích osob, zejména při nakládání s autorskými díly a jinými předměty práv duševního vlastnictví. Uživatel zejména nesmí:
    </p>
    <ol>
        <li>užívat Portál SOSbody.cz v rozporu s těmito Podmínkami,</li>
        <li>komerčně užívat kterékoli části Portálu SOSbody.cz způsobem způsobilým poškodit SOS Body a/nebo Zájemce,</li>
        <li>získávat přihlašovací jména a/nebo hesla jiných Uživatelů,</li>
        <li>zneužívat, blokovat, modifikovat či jinak měnit jakoukoliv součást Portálu SOSbody.cz, nebo se i jen pokusit narušit stabilitu, chod nebo data Portálu SOSbody.cz,</li>
        <li>používat mechanismy, programové vybavení nebo jiné postupy, které by mohly mít negativní vliv na provoz Portálu SOSbody.cz. Portál SOSbody.cz je možné užívat jen v rozsahu, který není na úkor práv ostatních Uživatelů nebo SOS Body a který je v souladu s jeho určením.</li>
    </ol>
        
    <p>
        5.3.	Uživatel se, bez ohledu na jiná ustanovení těchto Podmínek, zavazuje, že:
    </p>
    <ol>
        <li>nebude používat Portál SOSbody.cz, pokud by jeho použitím ze strany Uživatele došlo k porušení právních předpisů,</li>
        <li>pokud je mu méně než 18 let, nebude používat takové služby Portálu SOSbody.cz, u nichž je podmínkou pro užívání minimální věk 18 let.</li>
    </ol>
        
    <h3>6. Závěrečná ustanovení</h3>
    <p>
        6.1.	Práva a povinnosti mezi Zájemcem a Uživatelem ohledně práv z vadného plnění se řídí příslušnými obecně závaznými právními předpisy (zejména ustanoveními § 1914 až 1925, § 2099 až 2117 a § 2161 až 2174 zákona č. 89/2012 Sb., občanského zákoníku a zákonem č. 634/1992 Sb., o ochraně spotřebitele, ve znění pozdějších předpisů).
    </p>
    <p>
        6.2.	Uživatel v postavení spotřebitele má právo u Zájemce uplatnit práva z vadného plnění v souvislosti se Zprostředkovanou smlouvou u Zájemce (obecně na adrese jeho provozovny, v níž je uplatnění práv z vadného plnění možné, případně i v sídle nebo místě podnikání Zájemce a/nebo prostřednictvím kontaktních údajů uvedených u Zájemce na jeho profilu na Portále SOSbody.cz) a/nebo prostřednictvím odkazu „Garance spokojenosti“ na webových stránkách Portálu SOSbody.cz.
    </p>
    <p>
        6.3.	K mimosoudnímu řešení spotřebitelských sporů je příslušná Česká obchodní inspekce, se sídlem Štěpánská 567/15, 120 00 Praha 2, IČ: 000 20 869, internetová adresa: http://www.coi.cz.
    </p>
    <p>
        6.4.	Veškeré právní vztahy vznikající na základě nebo v souvislosti s Portálem SOSbody.cz se řídí právním řádem České republiky, a to bez ohledu na to odkud byl přístup a užití Portálu SOSbody.cz realizován.
    </p>
    <p>
        6.5.	Je-li nebo stane-li se některé z ustanovení Podmínek neplatným nebo neúčinným, namísto takových neplatných ustanovení nastoupí ustanovení, jehož smysl se neplatnému ustanovení co nejvíce přibližuje. Neplatností nebo neúčinností některého ustanovení není dotčena platnost a účinnost ostatních ustanovení.
    </p>
    <p>
        6.6.	Tyto Podmínky nabývají účinnosti dne 2. 1. 2018
    </p>
    <p>
        V Praze dne 2. 1. 2018
    </p>
</div>