﻿@using SosBody.Models;
@model SosBody.Models.InvoiceDetailModel
@{
    ViewBag.Title = "SOS Body - Fakturační údaje";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    @*<div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>*@
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:680px" id="contact">
    @*<h2 class="w3-wide w3-center h2_sos_header">FAKTURAČNÍ ÚDAJE</h2>*@

    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomeMedic", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "" })
        </div>
    </div>

    <div class="w3-row w3-padding-32" >
        @Html.ValidationSummary(false)
        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.Accept)

            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    IČ
                </div>
                <div class="w3-twothird right_col">
                    @Html.TextBoxFor(x => x.IdentifyNo, new { @class = "reg_form", @maxlength = 8, id = "ico" })
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    
                </div>
                <div class="w3-twothird right_col">
                    <div class="button" id="lookup">VYHLEDAT DLE IČ</div>
                </div>
            </div>


            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    Název společnosti
                </div>
                <div class="w3-twothird right_col">
                    @Html.TextBoxFor(x => x.Name, new { @class = "reg_form", @style = "padding-top:0px;" })
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    Adresa
                </div>
                <div class="w3-twothird right_col">
                    @Html.TextBoxFor(x => x.Address, new { @class = "reg_form" })
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    Telefon
                </div>
                <div class="w3-twothird right_col">
                    @Html.DropDownListFor(x => x.PhonePrefix, new SelectList(Model.PhonePrefixList, "Value", "Text"), new { @class = "reg_form", @style = "width:80px;", @onchange = "FillPhoneNumberLength(this.value)" })
                    @Html.TextBoxFor(x => x.Phone, new { @class = "reg_form", @style = "width:100px;", @maxlength = Model.PhonePrefixLength})
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    Email
                </div>
                <div class="w3-twothird right_col">
                    @Html.TextBoxFor(x => x.Email, new { @class = "reg_form" })
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    Bankovní účet
                </div>
                <div class="w3-twothird right_col">
                    @Html.TextBoxFor(x => x.Prefix, new { @class = "reg_form", @style = "width:70px;", @maxlength = 6 }) -
                    @Html.TextBoxFor(x => x.BankAccount, new { @class = "reg_form", @style = "width:100px;", @maxlength = 10 }) / 
                    @Html.DropDownListFor(x => x.Postfix, new SelectList(Model.PostfixList, "Value", "Text"), "", new { @class = "reg_form", @style = "width:80px;" })
                    <p style="color:red;">@Model.ErrorMessage</p>
                    @*@Html.ValidationMessageFor(x => x.Postfix, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    
                </div>
                <div class="w3-twothird right_col">
                    
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    DIČ
                </div>
                <div class="w3-twothird right_col">
                    @Html.TextBoxFor(x => x.TaxIdentifyNo, new { @class = "reg_form", @maxlength = 10 })
                </div>
            </div>
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    
                </div>
                <div class="w3-twothird right_col">

                </div>
            </div>

            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third">
                    &nbsp;
                </div>
                <div class="w3-third">
                    @Html.ActionLink("ZPĚT", "HomeBilling", null, new { @class = "button" })
                </div>
                <div class="w3-third">
                    <button type="submit" class="button">ULOŽIT</button>
                </div>
            </div>

        }
    </div>
</div>

<script>

    $("#lookup").click(function () {
        $.ajax({
            type: "POST",
            url: "/Admin/LookUp",
            data: ({ ico: $('#ico').val(), redirect: "Billing", email: $('#Email').val(), phone: $('#Phone').val(), phonePrefix: $('#PhonePrefix').val(), prefix: $('#Prefix').val(), bankAccount: $('#BankAccount').val(), postfix: $('#Postfix').val(), taxIdentifyNo: $('#TaxIdentifyNo').val() }),
            success: function (result) {
                window.location.href = result.Url;
        }
        });
    });

        function FillPhoneNumberLength(val) {
            $.ajax({
                url: '/Admin/GetPhoneNumberLength',
                type: "POST",
                dataType: "JSON",
                data: { prefix: val },
                success: function (result) {
                    $('#Phone').attr("maxlength", result.Length);
                }
            });
        }

</script>