﻿@using SosBody.Models;
@model SosBody.Models.CalendarModel
@{
    ViewBag.Title = "Kalendář";
}

<script src="/Scripts/Calendar/Calendar.js" type="text/javascript"></script>
<script src="/Scripts/vendor/jquery-ui-1.8.24.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
   <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
   </div>
}   

<!-- Page content -->

@*https://www.codeproject.com/Articles/360837/ASP-NET-MVC-Create-a-custom-calendar-datepicker*@

<div class="w3-content" style="max-width:2000px; margin-top:130px;">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="calendar">
        <div class="w3-display-container w3-center">
            @Html.ValidationSummary(false)                
            
            <table id="calendar-table" class="cal-table">
                @using (Html.BeginForm())
                {
                    <thead class="cal-thead">
                        <tr class="thead-tr">
                            @for (var i = 0; i < 14@*Model.HeaderTimes.Count()*@; i++)
                            {
                                <th class="thead-th">
                                    @*@Html.TextBoxFor(m => Model.HeaderTimes[i], new { @class = "thead-th" })*@
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody class="cal-tbody">
                        @for (var day = 1; day < 8; day++)
                        {
                            <tr class="tbody-tr">
                                @if (day == 6 || day == 7)
                                {
                                    for (var i = 0; i < 14/*Model.HeaderTimes.Count()*/; i++)
                                    {
                                        <td class="tbody-td-weekend">

                                        </td>
                                    }
                                }
                                else
                                {
                                    for (var i = 0; i < 14/*Model.HeaderTimes.Count()*/; i++)
                                    {
                                        <td class="tbody-td">

                                        </td>
                                    }
                                }


                            </tr>
                        }

                    </tbody>
                }
            </table>

        </div>
    </div>
</div>


@*<div id="welcomeDiv" style="display:none;position:absolute;"> WELCOME</div>*@

<div id="content" style="display:none;position:absolute;height:200px; width:200px;background-color:white;">
    <div id="wrapper">
        <div id="first">
           aaa
        </div>
        <div id="second">
            <p style="color:#4B875C;">
            </p><br />
            <p style="font-size:small;">
            sds
            </p><br />
            <p style="font-size:small;">
                dfd
            </p>
            <p style="font-size:small;font-weight:bolder;color:#4B875C;">
                <br /><font style="font-weight:normal;color:#000;">
                </font>
            </p>
        </div>
    </div>
</div>

<script>

    //https://stackoverflow.com/questions/8952953/calling-asp-net-mvc-action-methods-from-javascript

    $("table tr td").click(function(e) {

        $('.myPopup').hide();

        $(this).css("background", "#7FAF3D");
        var x = e.pageX;
        var y = e.pageY;

        e = e || window.event;
        var src = e.target || e.srcElement;

        //alert(src.name.value); // OK
        //var d = document.getElementById("content").style.display = "";
        var top = y - 220;// + 'no of pixel you want to give the mydiv from top relative to parent';
        var left = x;// + 'no of pixel you want to give the mydiv from left relative to parent';

        // Create new div
        var elemDiv = document.createElement('div');
        elemDiv.innerHTML += "<div></div>";
        elemDiv.style.cssText = 'top:' + top + 'px;';
        elemDiv.style.cssText += 'left:' + left + 'px;';
        elemDiv.className = "myPopup";
        document.body.appendChild(elemDiv);


        //$('#content').css({
        //    position: 'absolute',
        //    top: top,
        //    left: left
        //});
    });

    $("table tr td").mouseover(function () {
            $(this).css("background", "#aaa");
    });

    $("table tr td").mouseleave(function () {
        var elementClass = this.className;
        if ($(this).css("background") != "rgb(127, 175, 61)") {
            if (elementClass == 'tbody-td')
                $(this).css("background", "#D0D0D0");
            else if (elementClass == 'tbody-td-weekend')
                $(this).css("background", "#BCBCBF");
        }
    });


    function myClick(e)
    {
        e = e || window.event;
        var src = e.target || e.srcElement;
        src.style.color = "red";
        $(this).css('background-color', '#29378F');
        //alert("aaa");
    }

</script>