﻿
@using SosBody.Models;
@model SosBody.Models.CalendarSettingsModel
@{
    ViewBag.Title = "Profil fyzioterapeuta";
}


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    @*<div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>
    @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
}   

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    @*<h2 class="w3-wide w3-center h2_sos_header">NASTAVENÍ KALENDÁŘE</h2>*@

    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomeMedic", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "" })
        </div>
    </div>

    <div class="w3-row w3-padding-32">
        @Html.ValidationSummary(false)
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.OfficeId)

            if (Model.Offices.Count > 1)
            {
                <div class="w3-display-container w3-center w3-padding-32">
                    <strong>Ordinace:</strong>
                    @foreach (var office in Model.Offices)
                    {
                        if (Model.CurrentCalendarId == office.Id)
                        {
                            @Html.ActionLink(office.Name, "CalendarSettings", "Admin", new { calIndex = office.Id }, new { @style = "padding-left:20px; color:rgb(127, 175, 61);" }) //#015217
                        }
                        else
                        {
                            @Html.ActionLink(office.Name, "CalendarSettings", "Admin", new { calIndex = office.Id }, new { @style = "padding-left:20px; color:#D0D0D0;" })
                        }
                    }
                </div>
            }

            <div class="w3-col m4 w3-large w3-margin-bottom">
                <img class="img-circle" src="@Url.Content(Model.ProfileImage)" width="200" height="200">
            </div>
            <div class="w3-col m8">

                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Sazba 30 min:
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Price30, new { @class = "reg_form", @style = "width:70px;", @maxlength = "5" })
                        Kč
                        @*@Html.ValidationMessageFor(x => x.Price30)*@
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Sazba 60 min:
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Price60, new { @class = "reg_form", @style = "width:70px;", @maxlength = "5" })
                        Kč
                        @*@Html.ValidationMessageFor(x => x.Price60)*@
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Sazba 90 min:
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Price90, new { @class = "reg_form", @style = "width:70px;", @maxlength = "5" })
                        Kč
                        @*@Html.ValidationMessageFor(x => x.Price90)*@
                    </div>
                </div>
                @*<div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Barva ordinace:
                    </div>
                    <div class="w3-twothird right_col">
                       
                    </div>
                </div>*@


                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        @*Propojení*@
                    </div>
                    <div class="w3-twothird right_col">
                        @*@Html.CheckBoxFor(x => x.GoogleCalendarConnection /*, new { @disabled = "disabled" }*/)
                        S kalendářem Google*@
                    </div>
                </div>

                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-quarter">
                        &nbsp;
                    </div>
                    <div class="w3-twothird">
                        <div class="w3-half">
                            <button type="submit" class="button">ULOŽIT</button>
                        </div>
                        <div class="w3-half">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*http://www.aspdotnet-pools.com/2016/03/multiselect-dropdownlist-using-jquery.html*@
