﻿@using SosBody.Models;
@model SosBody.Models.CalendarModel
@{
    //Layout = null;
    ViewBag.Title = "SOS Body - Kalendář";
}

@*<script src="/Scripts/vendor/jquery-ui-1.8.11.min.js" type="text/javascript"></script>*@
<script src="/Scripts/vendor/jquery-ui-1.9.2.min.js" type="text/javascript"></script>
@*<script src="/Scripts/Calendar/Index.js" type="text/javascript"></script>*@
@*<script src="/Scripts/Calendar/Calendar.js" type="text/javascript"></script>*@
<script src="~/Scripts/vendor/jquery.stickytableheaders.min.js" type="text/javascript"></script>


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    @*<div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>
    @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
}

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1000px" id="calendar">
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomeMedic", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "current" })
        </div>
    </div>

    <div class="w3-display-container w3-center">

        @using (Html.BeginForm())
        {
            if (Model == null)
            {
                <div class="w3-padding-64" style="height:400px">
                    <strong>Nemáte zadanou žádnou ordinaci. Nejprve je potřeba jí vytvořit.</strong>
                </div>
            }
            else
            {
                @Html.HiddenFor(x => x.WeekIndex)
                @Html.HiddenFor(x => x.Year)
                @Html.HiddenFor(x => x.OfficeCount)
                <div>
                    @*@if (Model.Offices.Count > 1)
                    {
                        <div>
                            <strong>Ordinace:</strong>
                            @foreach (var office in Model.Offices)
                            {
                                if (Model.CurrentCalendarId == office.Id)
                                {
                                    @Html.ActionLink(office.Name, "Calendar", "Admin", new { calIndex = office.Id }, new { @style = "padding-left:20px; color:rgb(127, 175, 61);" }) //#015217
                                }
                                else
                                {
                                    @Html.ActionLink(office.Name, "Calendar", "Admin", new { calIndex = office.Id }, new { @style = "padding-left:20px; color:#D0D0D0;" })
                                }
                            }

                        </div>
                    }*@
                    <table id="component-table" style="table-layout:fixed;" @*style="border:solid 1px lightgrey;"*@>
                        <thead>
                            <tr>
                                <th style="background-color:white;">
                                    <a href="@Url.Action("Calendar", "Admin", new { weekIndex = Model.WeekIndex - 1/*calIndex = Model.CurrentCalendarId*/ })" class="links">
                                        <img alt="" src="@Url.Content("~/Images/Calendar_arrow_light_left.png")" height="30" width="30">
                                    </a>
                                    <a href="@Url.Action("Calendar", "Admin", new { weekIndex = Model.WeekIndex + 1/*calIndex = Model.CurrentCalendarId*/ })" class="links">
                                        <img alt="" src="@Url.Content("~/Images/Calendar_arrow_light_right.png")" height="30" width="30">
                                    </a>
                                </th>
                                <th>
                                    Po
                                </th>
                                <th>
                                    Út
                                </th>
                                <th>
                                    St
                                </th>
                                <th>
                                    Čt
                                </th>
                                <th>
                                    Pá
                                </th>
                                <th>
                                    So
                                </th>
                                <th>
                                    Ne
                                </th>
                            </tr>
                            <tr>
                                <td style="background-color:white;" class="tbody-td-time">
                                    @Html.ActionLink("Dnes", "Calendar", null, new { @class = "tbody-td-time", @style = "height:30px;" })
                                </td>
                                @foreach (var day in Model.Days)
                                {
                                    <td class="tbody-td-time">
                                        @day.DateStr
                                    </td>
                                }
                            </tr>
                        </thead>
                        <tbody class="cal-tbody">
                            
                            @for (int i = 0; i < 24; i++)
                            {
                                int time = i;

                                //if (i >= Model.StartHourIndex && i <= Model.EndHourIndex)
                                {
                                    <tr style="overflow:visible;overflow:auto; height:20px !important;">
                                        <td class="tbody-td-time" style="width:50px;vertical-align:top;"><span>@time:00</span></td>
                                        @*@foreach (var day in Model.Days)*@
                                        @for (int d = 0; d < Model.Days.Count; d++)
                                        {
                                            string blockId = Model.Days[d].Index + "_" + time;

                                            @*if (Model.Days[d].Visible == false || Model.StartHours[d] > i || Model.EndHours[d] < i)
                                                {
                                                    <td class="tbody-td-off" style="border:solid 1px #BCBCBF;background-color:#DDDDDD;"></td>
                                                }
                                                else*@
                                            if (Model.Days[d].Weekend == true)
                                            {
                                                string tdClass = "";
                                                string background = "#FFF";
                                                if (Model.Days[d].IsToday == true)
                                                {
                                                    tdClass = "tbody-td-today";
                                                    background = "#F3DAE4";
                                                }
                                                else
                                                {
                                                    tdClass = "tbody-td-weekend";
                                                }

                                                <td class="@tdClass" id="@blockId" style="background-color:@(background);vertical-align:top;position:relative;border:solid;border-width:1px;border-color:#BCBCBF;background-clip:padding-box;">

                                                    @for (int y = 0; y < Model.Days[d].Actions.Count; y++)
                                                    {
                                                        var action = Model.Days[d].Actions[y];
                                                        if (action.StartIndex == i)
                                                        {
                                                            int blockTop = (int)(action.StartPos * 40.0 - 1);
                                                            int blockHeight = (int)(action.Duration * 40);

                                                            if (y > 0)
                                                            {
                                                                var prevAction = Model.Days[d].Actions[y - 1];
                                                                if (prevAction.StartIndex == i)
                                                                {
                                                                    if (prevAction.StartPos == 0.5)
                                                                    {
                                                                        blockTop = -20;
                                                                    }
                                                                    else if (prevAction.StartPos == 0.0)
                                                                    {
                                                                        //blockTop = 1;
                                                                    }
                                                                }
                                                                else
                                                                {

                                                                }
                                                            }
                                                            else
                                                            {

                                                            }

                                                            string background_color = "#7FAF3D"; // light green
                                                            if (action.Booked)
                                                            {
                                                                background_color = "#015217"; // dark green
                                                            }

                                                            if (!action.IsSosBody)
                                                            {
                                                                background_color = "#84ADB8"; // gray
                                                            }

                                                            <div class="action" id="div_@(action.Id)" style="height:@(blockHeight)px;top:@(blockTop)px;background-color:@(background_color);position:absolute;z-index:1;" title="@action.Info"><p style="font-size:smaller;">@action.Info</p></div>
                                                        }
                                                    }

                                                </td>
                                            }
                                            else
                                            {
                                                string tdClass = "";
                                                string background = "#FFF";
                                                if (Model.Days[d].IsToday == true)
                                                {
                                                    tdClass = "tbody-td-today";
                                                    background = "#F3DAE4";
                                                }
                                                else
                                                {
                                                    tdClass = "tbody-td";
                                                }

                                                <td class="@tdClass" id="@blockId" style="background-color:@(background);vertical-align:top;position:relative;border:solid;border-width:1px;border-color:#BCBCBF;background-clip:padding-box;">

                                                    @for (int y = 0; y < Model.Days[d].Actions.Count; y++)
                                                    {
                                                        var action = Model.Days[d].Actions[y];
                                                        if (action.StartIndex == i)
                                                        {
                                                            int blockTop = (int)(action.StartPos * 40.0 - 1);
                                                            int blockHeight = (int)(action.Duration * 40);

                                                            if (y > 0)
                                                            {
                                                                var prevAction = Model.Days[d].Actions[y - 1];
                                                                if (prevAction.StartIndex == i)
                                                                {
                                                                    if (prevAction.StartPos == 0.5)
                                                                    {
                                                                        blockTop = -20;
                                                                    }
                                                                    else if (prevAction.StartPos == 0.0)
                                                                    {
                                                                        //blockTop = 1;
                                                                    }
                                                                }
                                                            }

                                                            string background_color = "#7FAF3D"; // light green
                                                            if(action.Booked)
                                                            {
                                                                background_color = "#015217"; // dark green
                                                            }

                                                            if(!action.IsSosBody)
                                                            {
                                                                background_color = "#84ADB8"; // gray
                                                            }

                                                            <div class="action" id="div_@(action.Id)" style="height:@(blockHeight)px;top:@(blockTop)px;background-color:@(background_color);position:absolute;z-index:1;" title="@action.Info"><p style="font-size:smaller;">@action.Info</p></div>
                                                        }
                                                    }
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</div>

<script>

    function scrollTo(loc) {
        location.hash = loc;
    }

    $("table tr td").mouseover(function () {
        var elementClass = this.className;
        if ($(this).css("background-color") != "rgb(127, 175, 61)") {
            if (elementClass != 'tbody-td-time' /*&& elementClass != 'tbody-td-off'*/) {
                $(this).css("background", "#ccc");
            }
        }
    });

    $("table tr td").mouseleave(function () {
        var elementClass = this.className;
        if ($(this).css("background-color") != "rgb(127, 175, 61)") {
            if (elementClass == 'tbody-td')
            {
                $(this).css("background", "white");
                $(this).css("background-clip", "padding-box");
            }
            else if (elementClass == 'tbody-td-weekend')
            {
                $(this).css("background", "white");
                $(this).css("background-clip", "padding-box");
            }
            else if (elementClass == 'tbody-td-today')
            {
                $(this).css("background", "#F3DAE4");
                $(this).css("background-clip", "padding-box");
            }
        }
    });

    // new action
    $("table tr td").click(function (e) {
        if($(this).hasClass("action") == false)
        {
            var elementClass = this.className;
            //if(elementClass == 'tbody-td-off')
            //    return;

            $('.myPopup').remove();
            //$(this).css("background", "#EE0000");
            var str = $(this).attr('id');
            var n = str.indexOf("_");
            var subString = str.substring(n+1);

            var model = @Html.Raw(Json.Encode(Model));
            var price30 = model["Price30"];
            var price60 = model["Price60"];
            var price90 = model["Price90"];
            var officeCount = model["OfficeCount"];
            var offices = model["Offices"];

            var priceIndex = 0;

            var x = e.pageX;
            var y = e.pageY;

            e = e || window.event;
            var src = e.target || e.srcElement;

            var top = y - 120;// + 'no of pixel you want to give the mydiv from top relative to parent';
            var left = x;// + 'no of pixel you want to give the mydiv from left relative to parent';

            // Create new div
            var elemDiv = document.createElement('div');

            var text = '<a class="dialog-close" onclick="calendarCancelClick()">&times;</a><table style="width:280px;">';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Ordinace:</td><td><select id="officeName">';
            for(var i = 0; i < officeCount; i++)
            {
                text += '<option value="' + offices[i].Id + '">' + offices[i].Name + '</option>';
            }
            text += '</select></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Čas:</td><td><select id="calTime"><option value="' + subString + '">' + subString + ':00</option><option value="' + subString + ':30">' + subString + ':30</option></select></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Délka:</td><td><select id="calDuration"><option value="30">30 min</option><option value="60">60 min</option><option value="90">90 min</option></select></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;"><strong>SOS Body:</strong></td><td> <input type="checkbox" id="SOSbodyCheckBox" name="SOSbodyCheckBox" value="SOS Body" checked></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Cena:</td><td><input type="text" id="SOSbodyPriceTextBox" value="' + price30[priceIndex] + '" style="width:50px;"></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Poznámka:</td><td><textarea id="calText" rows="3" cols="16"></textarea></td></tr>';
            text += '<tr><td style="padding:15px 20px;"><button type="submit" class="button" style="min-width:60px; padding: 3px 6px;" onclick="calendarOkClick()">VLOŽIT</button></td><td></td></tr>';
            text += '<input type="hidden" name="to1" value="'+ price30[priceIndex] +'" id="price1"><input type="hidden" name="to2" value="'+ price60[priceIndex] +'" id="price2"><input type="hidden" name="to3" value="'+ price90[priceIndex] +'" id="price3">';

            elemDiv.innerHTML += text;
            elemDiv.innerHTML += '</table>';
            elemDiv.innerHTML += '<input type="hidden" name="action" id="calHidden" value="' + str + '" />';

            elemDiv.style.cssText = 'top:' + top + 'px;';
            elemDiv.style.cssText += 'left:' + left + 'px;';
            elemDiv.className = "myPopup";
            document.body.appendChild(elemDiv);

            CheckTermAvailability();

            $("#calDuration").change(function() {
                var value = $("#calDuration").val();
                if(value == 30)
                {
                    //$("#SOSbodyPriceTextBox").val($("#price1").val());
                    $("#SOSbodyPriceTextBox").val(price30[priceIndex]);
                }
                else if(value == 60)
                {
                    $("#SOSbodyPriceTextBox").val(price60[priceIndex]);
                }
                else if(value == 90)
                {
                    $("#SOSbodyPriceTextBox").val(price90[priceIndex]);
                }

                CheckTermAvailability();
            });

            $("#calTime").change(function() {
                CheckTermAvailability(true);
            });

            $("#officeName").change(function() {
                CheckTermAvailability();
                priceIndex = $("#officeName").prop('selectedIndex');
                var value = $("#calDuration").val();
                if(value == 30)
                {
                    $("#SOSbodyPriceTextBox").val(price30[priceIndex]);
                }
                else if(value == 60)
                {
                    $("#SOSbodyPriceTextBox").val(price60[priceIndex]);
                }
                else if(value == 90)
                {
                    $("#SOSbodyPriceTextBox").val(price90[priceIndex]);
                }
            });
        }
    }); 

    function IsNumeric(val) {
        return Number(parseFloat(val)) === val;
    }

    function IsInt(value) {
        return !isNaN(value) && (function(x) { return (x | 0) === x; })(parseFloat(value))
    }

    function CheckTermAvailability()
    {
        var officeId = $("#officeName").val();
        var calTime = $("#calTime").val();
        var calDuration = $("#calDuration").val();
        var calWeek = $("#WeekIndex").val();
        var calYear = $("#Year").val();
        var dayHourIndex = $("#calHidden").val();

        $.ajax({
            type: "POST",
            url: "/Admin/GetNewTermAvailability",
            async: false,
            data: ({ officeId: officeId, calTime: calTime, calDuration: calDuration, calWeek: calWeek, calYear: calYear, calDayHourIndex: dayHourIndex}),
            success: function (result) {

                //var n = dayHourIndex.indexOf("_");
                //var subString = dayHourIndex.substring(n+1);

                // duration
                var calDuration = $("#calDuration");
                calDuration.find('option')
                .remove()
                .end()
                var innerText = '';
                for(var i = 30; i <= result.maxDuration; i += 30)
                {
                    var selected = "";
                    if(i > 90)
                        break;
                    if(i == result.selectedDuration)
                        selected = "selected";
                    innerText += '<option value="' + i + '" ' + selected + '>' + i + ' min</option>';
                }
                calDuration.append(innerText);

                // start time
                var calTime = $("#calTime");
                calTime.find('option')
                .remove()
                .end()
                var innerText = '';
                for(var i = result.startTime; i <= result.endTime; i += 30)
                {
                    var selected = "";
                    var mins = "";
                    var istr = i.toString();
                    if(i > 30)
                        break
                    if(i == 0)
                        istr += "0";
                    else
                        mins = ":"+istr;
                    if(result.selectedTime == istr)
                        selected = "selected";
                    innerText += '<option value="' + result.hour + mins + '" ' + selected + '>' + result.hour + ':' + istr + '</option>';
                }
                calTime.append(innerText);

                //e.stopPropagation();
            },
            error: function(){
                //e.stopPropagation();
                return;
            }
        });
    }

    //$(document).ready(function() {
    //    alert("ds");
    //    $('body').delegate('#calTime', 'change', function() {
    //        alert("d");
    //        if ($(this).find(':selected').attr('class') == 'customOption') {
    //            // DO SOMETHING!!
    //        }
    //        else {
    //            // DO SOMETHING ELSE
    //        }
    //    });
    //});

    $(".action").click(function (e) {

        $('.myPopup').remove();
        var str = $(this).attr('id');
        var n = str.indexOf("_");
        var id = str.substring(n + 1);

        //$(this).css("background", "#7FAF3D");
        var x = e.pageX;
        var y = e.pageY;

        e = e || window.event;
        var src = e.target || e.srcElement;

        var top = y - 120;// + 'no of pixel you want to give the mydiv from top relative to parent';
        var left = x;// + 'no of pixel you want to give the mydiv from left relative to parent';

        var actionInfo;
        var actionTimeHour;
        var actionTimeMinute;
        var actionSosBody;
        var actionUserId;
        var actionDuration;

        $.ajax({
            type: "POST",
            url: "/Admin/Action",
            async: false,
            data: ({ actionId: id }),
            success: function (result) {
                AppendResponse(result, top, left, id, str);
                e.stopPropagation();
            },
            error: function(){
                e.stopPropagation();
                return;
            }
        });
    });

    function AppendResponse(response, top, left, id, str)
    {
        var elemDiv = document.createElement('div');

        var selected1 = "";
        var selected2 = "";
        var startTime = response.hour + ":";

        if (response.minute == "00")
        {
            selected1 = "selected";
            startTime += "00";
        }
        else
        {
            selected2 = "selected";
            startTime += "30";
        }

        var model = @Html.Raw(Json.Encode(Model));
        var price30 = model["Price30"];
        var price60 = model["Price60"];
        var price90 = model["Price90"];
        var officeName = response.officeName;
        var officeCount = model["OfficeCount"];
        var offices = model["Offices"];

        var priceIndex = 0;

        var sel30 = ""; var sel60 = ""; var sel90 = ""; var sel120 = "";
        var price = "";
        var duration = "";
        if (response.duration == "30")
        {
            sel30 = "selected";
            price = response.price;
            duration = "30 min";
        }
        else if (response.duration == "60")
        {
            sel60 = "selected";
            price = response.price;
            duration = "60 min";
        }
        else if(response.duration == "90")
        {
            sel90 = "selected";
            price = response.price;
            duration = "90 min";
        }

        var checked = '';
        if(response.sosbody == true)
            checked = 'checked="checked"';

        var text = "";

        text += '<a class="dialog-close" onclick="calendarCancelClick()">&times;</a><table style="width:280px;">';
        if(officeCount == 1)
        {
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Ordinace:</td><td>' + offices[0].Name + '</td></tr>';
        }
        else
        {
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Ordinace:</td><td><select id="officeName">';
            for(var i = 0; i < officeCount; i++)
            {
                text += '<option value="' + offices[i].Id + '" ';
                if(offices[i].Name == officeName)
                    text += 'selected';
                text += '>' + offices[i].Name + '</option>';
            }
            text += '</select></td></tr>';
        }


        if(response.booked)
        {
            text = '<a class="dialog-close" onclick="calendarCancelClick()">&times;</a><table style="width:280px;">';
            text += '<tr><td style="height:50px;width:80px;padding-left:10px;">Ordinace:</td><td><strong>' + officeName + '</strong></td></tr>';
            text += '<tr><td style="height:50px;width:80px;padding-left:10px;">Čas:</td><td><strong>' + startTime + '</strong></td></tr>';
            text += '<tr><td style="height:50px;width:80px;padding-left:10px;">Délka:</td><td><strong>' + duration + '</strong></td></tr>';
            //text += '<tr><td style="height:40px;width:80px;padding-left:10px;"><strong>SOS Body:</strong></td><td> <input type="checkbox" id="SOSbodyCheckBox" name="SOSbodyCheckBox" ' + checked + '></td></tr>';
            text += '<tr><td style="height:50px;width:80px;padding-left:10px;">Cena:</td><td><strong>' + price + '</strong></td></tr>';
            text += '<tr><td style="width:80px;padding-left:10px;">Poznámka:</td><td><strong>' + response.info + '</strong></td></tr>';
            text += '<tr><td colspan="2" style="text-align:center;"><h2 style="color:red;">ZAPLACENO</h2></td></tr>';
            //text += '<tr><td style="padding:15px 20px;"><button type="submit" class="button" style="min-width:60px; padding: 3px 6px;" onclick="calendarRemoveClick(' + id + ')">VYMAZAT</button></td><td>&nbsp;&nbsp;<button type="submit" class="button" style="min-width:60px; padding: 3px 6px; margin-left:13px;" onclick="calendarSaveChangesClick(' + id + ')">ULOŽIT</button></td></tr>';
            //text += '<input type="hidden" name="to1" value="' + price30 + '" id="price1"><input type="hidden" name="to2" value="' + price60 + '" id="price2"><input type="hidden" name="to3" value="' + price90 + '" id="price3">';
        }
        else
        {
            //text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Ordinace:</td><td><strong>' + officeName + '</strong></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Čas:</td><td><select id="calTime"><option value="' + response.hour + '" ' + selected1 + '>' + response.hour + ':00</option><option value="' + response.hour + ':30" ' + selected2 + '>' + response.hour + ':30</option></select></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Délka:</td><td><select id="calDuration"><option value="30" ' + sel30 + '>30 min</option><option value="60" ' + sel60 + '>60 min</option><option value="90" ' + sel90 + '>90 min</option></select></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;"><strong>SOS Body:</strong></td><td> <input type="checkbox" id="SOSbodyCheckBox" name="SOSbodyCheckBox" ' + checked + '></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Cena:</td><td><input type="text" id="SOSbodyPriceTextBox" value="' + price + '" style="width:50px;"></td></tr>';
            text += '<tr><td style="height:40px;width:80px;padding-left:10px;">Poznámka:</td><td><textarea id="calText" rows="3" cols="16">' + response.info + '</textarea></td></tr>';
            text += '<tr><td style="padding:15px 20px;"><button type="submit" class="button" style="min-width:60px; padding: 3px 6px;" onclick="calendarRemoveClick(' + id + ')">VYMAZAT</button></td><td>&nbsp;&nbsp;<button type="submit" class="button" style="min-width:60px; padding: 3px 6px; margin-left:13px;" onclick="calendarSaveChangesClick(' + id + ')">ULOŽIT</button></td></tr>';
            text += '<input type="hidden" name="to1" value="' + price30 + '" id="price1"><input type="hidden" name="to2" value="' + price60 + '" id="price2"><input type="hidden" name="to3" value="' + price90 + '" id="price3">';
        }

        elemDiv.innerHTML += text;
        elemDiv.innerHTML += '</table>';
        elemDiv.innerHTML += '<input type="hidden" name="action" id="calHidden" value="' + str/*response.userid*/ + '" />';

        elemDiv.style.cssText = 'top:' + top + 'px;';
        elemDiv.style.cssText += 'left:' + left + 'px;';
        elemDiv.className = "myPopup";
        document.body.appendChild(elemDiv);

       // CheckTermAvailability(false);

        $("#calDuration").change(function() {
            var value = $("#calDuration").val();
            priceIndex = $("#officeName").prop('selectedIndex');
            var value = $("#calDuration").val();
            if(value == 30)
            {
                $("#SOSbodyPriceTextBox").val(price30[priceIndex]);
            }
            else if(value == 60)
            {
                $("#SOSbodyPriceTextBox").val(price60[priceIndex]);
            }
            else if(value == 90)
            {
                $("#SOSbodyPriceTextBox").val(price90[priceIndex]);
            }

            //CheckTermAvailability(false);
        });

        $("#calTime").change(function() {
            //CheckTermAvailability(false);
        });

        $("#officeName").change(function() {
            priceIndex = $("#officeName").prop('selectedIndex');
            var value = $("#calDuration").val();
            if(value == 30)
            {
                $("#SOSbodyPriceTextBox").val(price30[priceIndex]);
            }
            else if(value == 60)
            {
                $("#SOSbodyPriceTextBox").val(price60[priceIndex]);
            }
            else if(value == 90)
            {
                $("#SOSbodyPriceTextBox").val(price90[priceIndex]);
            }
        });
    }

    function calendarOkClick() {
        var officeId = $("#officeName").val();
        var calText = $("#calText").val();
        var calTime = $("#calTime").val();
        var calDuration = $("#calDuration").val();
        var weekIndex = $("#WeekIndex").val();
        var year = $("#Year").val();
        var dayHourIndex = $("#calHidden").val();
        var isSOSbody = $("#SOSbodyCheckBox").prop('checked');
        var calPrice = $("#SOSbodyPriceTextBox").val();

        if(IsInt(calPrice) == false)
        {
            alert("Cena obsahuje neplatné znaky");
            return;
        }

        var model = @Html.Raw(Json.Encode(Model));
        //var currentOfficeId = model["CurrentCalendarId"];

        $.ajax({
            type: "POST",
            url: "/Admin/SaveAction",
            data: ({ officeId: officeId, calTime: calTime, calDuration: calDuration, calText: calText, calWeek: weekIndex, calYear: year, calDayHourIndex: dayHourIndex , calIsSOSbody: isSOSbody, calPrice: calPrice}),
            success: function (result) {
                $('.myPopup').remove();
                location.reload();
            }
        });
    }

    function calendarCancelClick() {
        $('.myPopup').remove();
    }

    function calendarRemoveClick(id) {
        $.ajax({
            type: "POST",
            url: "/Admin/RemoveAction",
            data: ({ id: id }),
            success: function (result) {
                $('.myPopup').remove();
                location.reload();
            }
        });
    }

    function calendarSaveChangesClick(id) {
        var officeId = $("#officeName").val();
        var calText = $("#calText").val();
        var calTime = $("#calTime").val();
        var calDuration = $("#calDuration").val();
        var weekIndex = $("#WeekIndex").val();
        var year = $("#Year").val();
        var isSOSbody = $("#SOSbodyCheckBox").prop('checked');
        var calPrice = $("#SOSbodyPriceTextBox").val();

        if(IsInt(calPrice) == false)
        {
            alert("Cena obsahuje neplatné znaky");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Admin/ChangeAction",
            data: ({ officeId: officeId, calTime: calTime, calDuration: calDuration, calText: calText, calWeek: weekIndex, calIsSOSbody: isSOSbody, id: id, calPrice: calPrice }),
            success: function (result) {
                $('.myPopup').remove();
                location.reload();
            }
        });
    }

    // sticky calendar header
    $('#component-table').stickyTableHeaders({
        fixedOffset: $('#mymenu-large').height()
    });

</script>