﻿@using SosBody.Models;
@model SosBody.Models.ConfirmPasswordModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:700px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">VYMAZÁNÍ PROFILU</h2>
    <div class="w3-row w3-padding-32 w3-center">
        <div class="w3-col m12">
           Při smazání profilu došlo k chybě. Kontaktujte prosím administrátora na e-mailové adrese info@sosbody.cz      
        </div>
    </div>
</div>

<script>

    function RedirectWithEmail() {
        var param = document.getElementById("Email");
        window.location.href = "../../Account/Login?email=" + param.value;
    }
</script>