﻿@using SosBody.Models;
@model SosBody.Models.FormPatientModel
@{
    ViewBag.Title = "SOS Body";
}

<h2>Form Patient</h2>
@*@Html.ValidationSummary(false)*@
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.UserId)
    <div class="form-group">
        @Html.LabelFor(x => x.Phone)
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(x => x.PostalCode)
        @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.City)
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    </div>*@
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "HomePatient", null, new { @class = "btn btn-default" })
}