﻿@using SosBody.Models;
@model SosBody.Models.FormMedicModel
@{
    ViewBag.Title = "SOS Body - Profil fyzioterapeuta";
}



@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    @*<div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>*@
}   

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    @*<h2 class="w3-wide w3-center h2_sos_header">PROFIL FYZIOTERAPEUTA</h2>*@

    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomeMedic", "Admin", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "" })
        </div>
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col m4 w3-large w3-margin-bottom">
            <img class="img-circle" src="@Url.Content(Model.ProfileImage)" width="200" height="200">
            <br /><br />
            @using (Html.BeginForm("FileUpload", "Admin", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
            {
                    <label for="file" style="font-size:small;">Nahrát obrázek:</label>
                    <input type="file" name="file" id="file" style="width: 100%; font-size:small;" accept="image/*" />
                    <br />
                    <input type="submit" value="NAHRÁT" class="button" />
                    @Html.ActionLink("VYMAZAT", "DeleteProfileImage", null, new { @class = "button" })
                    <br />
                    <br />
                    @Html.ActionLink(
                        "Smazat profil",
                        "DeleteProfile",
                        "Admin",
                        new { userId = Model.UserId },
                        new { onclick = "return confirm('Opravdu si přejete vymazat tento profil?')", @class = "left_col" })
            }
        </div>
        <div class="w3-col m8">
            @Html.ValidationSummary(false)
            @using (Html.BeginForm())
            {
                <p style="color:red;">@Model.ErrorMessage</p>
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserId)
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Jméno*
                    </div>
                    <div class="w3-twothird right_col">
                       @Html.TextBoxFor(x => x.Name, new { @class = "reg_form", @style = "padding-top:0px;" })
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Příjmení*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Lastname, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Titul před jménem
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Title, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Titul za jménem
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.TitleBehind, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        E-mail*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Email, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Telefon*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.DropDownListFor(x => x.PhonePrefix, new SelectList(Model.PhonePrefixList, "Value", "Text"), new { @class = "reg_form", @style = "width:80px;", @onchange = "FillPhoneNumberLength(this.value)" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "reg_form", @style = "width:100px;", @maxlength = Model.PhonePrefixLength })
                    </div>
                </div>
                @*<div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Datum narození*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.DropDownListFor(x => x.Day, new SelectList(Model.MapDayItemTypes, "Value", "Text"), "  Den  ", new { @class = "reg_form", @style = "width:103px;" })
                        @Html.DropDownListFor(x => x.Month, new SelectList(Model.MapMonthItemTypes, "Value", "Text"), "  Měsíc  ", new { @class = "reg_form", @style = "width:103px;" })
                        @Html.DropDownListFor(x => x.Year, new SelectList(Model.MapYearItemTypes, "Value", "Text"), "  Rok  ", new { @class = "reg_form", @style = "width:103px;" })
                    </div>
                </div>*@
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Specializace
                    </div>
                    <div class="w3-twothird">
                        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="../../Scripts/jquery.sumoselect.js" type="text/javascript"></script>
        <link href="../../Content/dropdownliststyle.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
             $(document).ready(function () {
                 window.asd = $('.ddlMultiSlectBox').SumoSelect({ csvDispCount: 4 });
             });
        </script>

        @Html.CheckBoxFor(x => x.Spec1)
        @Html.LabelFor(x => x.Spec1)
        @Html.DropDownListFor(m => m.SelectedSpecializationId, new SelectList(Model.SpecializationList, "SpecName", "SpecName"), new { @multiple = "multiple", @placeholder = "Zvolte specializaci", @class = "ddlMultiSlectBox" })*@

                        <div class="checkbox-wrapper">
                            @Html.CheckBoxFor(x => x.Spec1)
                            @Html.LabelFor(x => x.Spec1)
                        </div>
                        <div class="checkbox-wrapper">
                            @Html.CheckBoxFor(x => x.Spec2)
                            @Html.LabelFor(x => x.Spec2)
                        </div>
                        <div class="checkbox-wrapper">
                            @Html.CheckBoxFor(x => x.Spec3)
                            @Html.LabelFor(x => x.Spec3)
                        </div>
                        <div class="checkbox-wrapper">
                            @Html.CheckBoxFor(x => x.Spec4)
                            @Html.LabelFor(x => x.Spec4)
                        </div>
                        <div class="checkbox-wrapper">
                            @Html.CheckBoxFor(x => x.Spec5)
                            @Html.LabelFor(x => x.Spec5)
                        </div>
                        <div class="checkbox-wrapper">
                            @Html.CheckBoxFor(x => x.Spec6)
                            @Html.LabelFor(x => x.Spec6)
                        </div>

                    </div>
                </div>
                @*
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.CheckBoxFor(x => x.Spec2)
                        @Html.LabelFor(x => x.Spec2)
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.CheckBoxFor(x => x.Spec3)
                        @Html.LabelFor(x => x.Spec3)
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.CheckBoxFor(x => x.Spec4)
                        @Html.LabelFor(x => x.Spec4)
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.CheckBoxFor(x => x.Spec5)
                        @Html.LabelFor(x => x.Spec5)
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.CheckBoxFor(x => x.Spec6)
                        @Html.LabelFor(x => x.Spec6)
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px; height:100px;">
                    <div class="w3-third left_col">
                        
                    </div>
                    <div class="w3-twothird right_col">
                        
                    </div>
                </div>
                    *@

                <div class="w3-row-padding w3-padding-24" style="margin:0 -16px 8px -16px">
                    <div class="w3-third">
                        &nbsp;
                    </div>
                    <div class="w3-twothird">
                        <div class="w3-half">
                            @Html.ActionLink("ZPĚT", "HomeMedic", null, new { @class = "button" })
                        </div>
                        <div class="w3-half">
                            <button type="submit" class="button">ULOŽIT</button>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
    <div class="w3-row">
        <div class="left_col"> 
            *povinné údaje
        </div>
    </div>
</div>


<script>

    function FillPhoneNumberLength(val) {
        $.ajax({
            url: '/Admin/GetPhoneNumberLength',
            type: "POST",
            dataType: "JSON",
            data: { prefix: val },
            success: function (result) {
                $('#Phone').attr("maxlength", result.Length);
            }
        });
    }

</script>