﻿@using SosBody.Models;
@{
    //Layout = null;
    ViewBag.Title = "SOS Body";
}

<script src="/Scripts/vendor/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
<script src="/Scripts/Calendar/Index.js" type="text/javascript"></script>
<script src="/Scripts/Calendar/Calendar.js" type="text/javascript"></script>

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>
}

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1000px" id="calendar">
    <div class="w3-display-container w3-center">


    </div>
</div>
