﻿
@using SosBody.Models;
@model SosBody.Models.HistoryPatientModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:900px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">HISTORIE</h2>

    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomePatient", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("HISTORIE", "HistoryPatient", "Admin", null, new { @class = "current" })
        </div>
    </div>

    <div class="w3-row-padding medic-schedule-wrapper" style="margin:0 -16px 8px -16px;">
        <h3>
            @*Nejbližší volné termíny*@
        </h3>
        <table class="medic-schedule">

            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>
                        @reservation.Date
                    </td>
                    <td>
                        @reservation.MedicName
                    </td>
                    <td>
                        @reservation.MedicAddress
                    </td>
                    <td>
                        @reservation.Phone
                    </td>
                    <td>
                        @reservation.Email
                    </td>
                    <td>
                        @reservation.Code
                    </td>
                    <td>
                        @if (reservation.CancelEnabled == true)
                        {
                            @Html.ActionLink(
                            "ZRUŠIT REZERVACI",
                            "DeleteOrder",
                            "Home",
                            new { orderId = reservation.OrderId },
                            new { onclick = "return confirm('Opravdu si přejete zrušit rezervaci?')", @class = "button", @style = "color:#fff;" })
                        }
                        else
                        {
                            @Html.Label("ZRUŠENO")
                        }
                    </td>
                </tr>
            }

        </table>
    </div>



</div>