﻿
@using SosBody.Models;
@model SosBody.Models.FormMedicModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    @*<div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>
    @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomeMedic", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "" })
        </div>
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col m4 w3-large w3-margin-bottom">
            <img class="img-circle" src="@Url.Content(Model.ProfileImage)" width="200" height="200">
        </div>
        <div class="w3-col m8">
            
            @foreach (OfficeDetailModel office in Model.Offices)
            {
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        @office.Name
                    </div>
                    <div class="w3-twothird right_col">
                        @office.Street @office.StreetNo, @office.City@*, @office.PostalCode*@
                    </div>
                </div>
            }

            <div class="w3-padding-32" style="margin:0 -16px 8px -16px">
                <div class="w3-third">
                    &nbsp;
                </div>
                <div class="w3-twothird">
                    <div class="w3-half">
                        @Html.ActionLink("DETAIL ORDINACE", "Office", null, new { @class = "button" })
                    </div>
                    <div class="w3-half">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
