﻿
@using SosBody.Models;
@model SosBody.Models.FormMedicModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    @*<div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>
    @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
}


<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    @*<h2 class="w3-wide w3-center h2_sos_header">PROFIL FYZIOTERAPEUTA</h2>*@
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomeMedic", "Admin", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "" })
        </div>
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col m4 w3-large w3-margin-bottom">
            <img class="img-circle" src="@Url.Content(Model.ProfileImage)" width="200" height="200">
        </div>
        <div class="w3-col m8 color-gray">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserId)
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Jméno
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Name
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Příjmení
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Lastname
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Titul před jménem
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Title
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Titul za jménem
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.TitleBehind
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        E-mail
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Email
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Telefon
                    </div>
                    <div class="w3-twothird right_col">
                        @Model.Phone
                    </div>
                </div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Specializace
                    </div>
                    <div class="w3-twothird">
                        @if (Model.Spec1 == true)
                        {
                            @Html.LabelFor(x => x.Spec1) <br />
                        }
                        @if (Model.Spec2 == true)
                        {
                            @Html.LabelFor(x => x.Spec2) <br />
                        }
                        @if (Model.Spec3 == true)
                        {
                            @Html.LabelFor(x => x.Spec3) <br />
                        }
                        @if (Model.Spec4 == true)
                        {
                            @Html.LabelFor(x => x.Spec4) <br />
                        }
                        @if (Model.Spec5 == true)
                        {
                            @Html.LabelFor(x => x.Spec5) <br />
                        }
                        @if (Model.Spec6 == true)
                        {
                            @Html.LabelFor(x => x.Spec6) <br />
                        }

                        <br />
                        <br />
                        @Html.ActionLink("UPRAVIT PROFIL", "FormMedic", null, new { @class = "button" })

                    </div>
                </div>

            }

            @*<div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <div class="w3-third left_col">
                    <strong>Ordinace</strong>
                </div>
                <div class="w3-twothird right_col">
                    @Html.ActionLink("DETAIL ORDINACE", "Office", null, new { @class = "button" })
                </div>
            </div>*@


            @*@foreach (OfficeDetailModel office in Model.Offices)
    {
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-third left_col">
                Adresa
            </div>
            <div class="w3-twothird right_col">
                @office.Street @office.StreetNo, @office.City, @office.PostalCode
            </div>
        </div>
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-third left_col">
                Ordinační hodiny
            </div>
            <div class="w3-twothird right_col">
                @office.OfficeHours
            </div>
        </div>
    }*@

            @*<div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <div class="w3-third">
                    &nbsp;
                </div>
                <div class="w3-twothird">
                    <div class="w3-half">
                        @Html.ActionLink("UPRAVIT PROFIL", "FormMedic", null, new { @class = "button" })
                    </div>
                    <div class="w3-half">
                        @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "Fakturace", null, new { @class = "button" })
                    </div>
                </div>
            </div>*@

        </div>
    </div>
</div>