﻿
@using SosBody.Models;
@model SosBody.Models.HomePatientModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">PROFIL PACIENTA</h2>

    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomePatient", "Admin", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("HISTORIE", "HistoryPatient", "Admin", null, new { @class = "" })
        </div>
    </div>


    <div class="w3-row">
        @Html.ActionLink(
                        "Smazat profil",
                        "DeletePatientProfile",
                        "Admin",
                        new { userId = Model.UserId },
                        new { onclick = "return confirm('Opravdu si přejete vymazat tento profil?')", @class = "left_col" })
    </div>


</div>