﻿@using SosBody.Models
@model IEnumerable<AppUser>

@{
    ViewBag.Title = "SOS Body";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        User Accounts
    </div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        @if (Model.Count() == 0) { 
            <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
        }
        else
        {
            foreach (AppUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                </tr>
            }
        }
    </table>
</div>

@Html.ActionLink("Sign Out", "Logout", "Account", null, new {  @class = "btn btn-primary" })
