﻿@using SosBody.Models;
@model SosBody.Models.OfficeListModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    @*<div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>*@
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:700px" id="contact">
    @*<h2 class="w3-wide w3-center h2_sos_header">ORDINACE</h2>*@

    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("PROFIL", "HomeMedic", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("KALENDÁŘ", "Calendar", "Admin", null, new { @class = "" })
        </div>
    </div>

    <div class="w3-row w3-padding-32">
        @Html.ValidationSummary(false)
        @using (Html.BeginForm())
        {
            <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                <div class="w3-third">
                    &nbsp;
                </div>
                <div class="w3-twothird">
                    @Html.ActionLink("ZPĚT", "HomeOffice", null, new { @class = "button" })

                    <button type="submit" class="button">ULOŽIT</button>

                    @if (Model.ShowAddOfficeButton)
                {
                        @Html.ActionLink("PŘIDAT ORDINACI", "AddOffice", null, new { @class = "button" })
                    }
                </div>
            </div>

            for (var i = 0; i < Model.Offices.Count(); i++)
            //foreach (var office in Model.Offices)
            {

                @Html.HiddenFor(x => Model.Offices[i].Id)
                @Html.HiddenFor(x => Model.Offices[i].UserId)
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Název ordinace*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => Model.Offices[i].Name, new { @class = "reg_form", @style = "padding-top:0px;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Ulice*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => Model.Offices[i].Street, new { @class = "reg_form", @style = "padding-top:0px;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Číslo popisné*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => Model.Offices[i].StreetNo, new { @class = "reg_form", @maxlength = 8 })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        PSČ*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => Model.Offices[i].PostalCode, new { @class = "reg_form", @maxlength = 5, @style = "width:100px;" })
                        @Html.Label("(Bez mezery)", new { @style = "font-weight:normal;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Město*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => Model.Offices[i].City, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Země*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => Model.Offices[i].Country, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Telefon do ordinace
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.DropDownListFor(x => x.Offices[i].PhonePrefix, new SelectList(Model.Offices[i].PhonePrefixList, "Value", "Text", Model.Offices[i].PhonePrefix), new { @class = "reg_form", @style = "width:80px;", @onchange = "FillPhoneNumberLength(this.value, this.id)" })
                        @Html.TextBoxFor(x => Model.Offices[i].Phone, new { @class = "reg_form", @style = "width:100px;", @maxlength = Model.Offices[i].PhonePrefixLength })
                        @Html.Label("(Bez mezery)", new { @style = "font-weight:normal;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">

                    </div>
                    <div class="w3-twothird right_col w3-right">
                        @Html.ActionLink(
                            "ODEBRAT",
                            "DeleteOffice",
                            "Admin",
                            new { confirm = true, officeId = Model.Offices[i].Id },
                            new { onclick = "return confirm('Opravdu si přejete vymazat záznam o této ordinaci?')", @class = "button" })

                        @*@if (i == Model.Offices.Count() - 1)
                        {
                            if (Model.ShowAddOfficeButton)
                            {
                                @Html.ActionLink("PŘIDAT", "AddOffice", null, new { @class = "button" })
                            }
                        }*@

                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">

                    </div>
                    <div class="w3-twothird right_col">

                    </div>
                </div>
                } 
            }
        <div class="w3-col m12 left_col">
            *povinné údaje
        </div>
    </div>
</div>


<script>

        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function FillPhoneNumberLength(val, id) {
            $.ajax({
                url: '/Admin/GetPhoneNumberLength',
                type: "POST",
                dataType: "JSON",
                data: { prefix: val },
                success: function (result) {
                    var index = id.lastIndexOf("_");
                    var textbox = id.substring(0, index);
                    textbox += "_Phone";
                    $('#' + textbox).attr("maxlength", result.Length);
                }
            });
        }

</script>