﻿@using SosBody.Models;
@model SosBody.Models.InviteMedicModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @*@Html.ActionLink("POZVAT KOLEGU", "Pozvani", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large " })*@
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">PROFIL</a>
        <div class="dropmenu-content">
            @Html.ActionLink("MŮJ PROFIL", "HomeMedic", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("ORDINACE", "HomeOffice", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("FAKTURAČNÍ ÚDAJE", "HomeBilling", "Admin", null, new { @class = "w3-bar-item" })
            @Html.ActionLink("NASTAVENÍ KALENDÁŘE", "CalendarSettings", "Admin", null, new { @class = "w3-bar-item" })
        </div>
    </div>
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:400px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">POZVAT KOLEGU</h2>
    <div class="w3-row w3-padding-32 w3-center">
        <div class="w3-col m12" style="font-size:15px;">
            E-mail byl úspěšně odeslán.  @Html.ActionLink("zpět", "HomeMedic", "Admin")
        </div>
    </div>
</div>