﻿@using SosBody.Models;
@using Microsoft.Owin.Security
@model SosBody.Models.InvoiceDetailModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">REGISTRACE - KROK 3/3</h2>

    <div class="w3-row w3-padding-32">
        <div class="w3-col m8">
            @Html.ValidationSummary(false)
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserId)
                <p style="color:red;">@Model.ErrorMessage</p>

                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        IČ*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.IdentifyNo, new { @class = "reg_form", @maxlength = 8, id = "ico" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">

                    </div>
                    <div class="w3-twothird right_col">
                        <div class="button" id="lookup">VYHLEDAT DLE IČ</div>
                    </div>
                </div>


                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Název subjektu*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Name, new { @class = "reg_form", @style = "padding-top:0px;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Adresa*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Address, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Bankovní účet*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Prefix, new { @class = "reg_form", @style = "width:70px;", @maxlength = 6 }) -
                        @Html.TextBoxFor(x => x.BankAccount, new { @class = "reg_form", @style = "width:100px;", @maxlength = 10 }) /
                        @Html.DropDownListFor(x => x.Postfix, new SelectList(Model.PostfixList, "Value", "Text"), "", new { @class = "reg_form", @style = "width:80px;" })

                        @*@Html.ValidationMessageFor(x => x.Postfix, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        E-mail*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Email, new { @class = "reg_form"})
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Telefon
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.DropDownListFor(x => x.PhonePrefix, new SelectList(Model.PhonePrefixList, "Value", "Text"), new { @class = "reg_form", @style = "width:80px;", @onchange = "FillPhoneNumberLength(this.value)" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "reg_form", @style = "width:100px;", @maxlength = Model.PhonePrefixLength })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">

                    </div>
                    <div class="w3-twothird right_col">

                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        DIČ
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.TaxIdentifyNo, new { @class = "reg_form", @maxlength = 10 })
                    </div>
                </div>
                <div class="w3-row-padding m12 left_col" style="margin:0 -16px 8px -16px">
                    @Html.CheckBoxFor(x => x.Accept)<a href="~/Doc/SOS_Body-Zprostredkovatelska_smlouva.pdf" target="_blank">&nbsp;&nbsp;Pokračováním souhlasíte se zprostředkovatelskou smlouvou</a>
                </div>

                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third">
                        &nbsp;
                    </div>
                    <div class="w3-third">
                        @Html.ActionLink("ZPĚT", "RegisterMedicStep2", null, new { @class = "button" })
                    </div>
                    <div class="w3-third w3-right-align">
                        <button type="submit" class="button">DOKONČIT REGISTRACI</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="w3-row">
        <div class="left_col">
            *povinné údaje
        </div>
    </div>
</div>


<script>

    $("#lookup").click(function () {
        $.ajax({
            type: "POST",
            url: "/Admin/LookUp",
            data: ({ ico: $('#ico').val(), redirect: "RegisterMedicStep3", email: $('#Email').val(), phone: $('#Phone').val(), phonePrefix: $('#PhonePrefix').val(), prefix: $('#Prefix').val(), bankAccount: $('#BankAccount').val(), postfix: $('#Postfix').val(), taxIdentifyNo: $('#TaxIdentifyNo').val() }),
            success: function (result) {
                window.location.href = result.Url;
            }
        });
    });

    function FillPhoneNumberLength(val) {
        $.ajax({
            url: '/Admin/GetPhoneNumberLength',
            type: "POST",
            dataType: "JSON",
            data: { prefix: val },
            success: function (result) {
                $('#Phone').attr("maxlength", result.Length);
            }
        });
    }

</script>
