﻿@using SosBody.Models;
@using Microsoft.Owin.Security
@model SosBody.Models.CreateModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:400px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">CHCI SE REGISTROVAT</h2>
    <div class="w3-row w3-padding-32" style="padding-top:0px!important;">
        <div class="w3-col m12">
            @Html.ValidationSummary(false)
            @using (Html.BeginForm())
            {
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="w3-center form-group" style="align-content:center;">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "reg_form" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "reg_form" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.ConfirmPassword)
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "reg_form" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="w3-center form-group">
                    @Html.CheckBoxFor(x => x.Accept)<a href="~/Doc/SOS_Body-VOP.pdf" target="_blank">&nbsp;&nbsp;Souhlasím se všeobecnými obchodními podmínkami</a>
                </div>
                <div class="w3-center">
                    <button type="submit" class="button">REGISTROVAT SE</button>
                    <br />
                    <br />
                </div>
                <div>
                    <img src="/Images/Dan.png" style="width:80px;height:80px;float:left; margin-right:10px;border-radius: 50%;" />
                    <p style="color:gray; font-size:12px; font-weight:200;">Také slýcháte „Omlouvám se, dnes nemohu přijít.“ Nebo sedíme v ordinaci a pacient nikde. Tím přicházíme o čas a příjmy. Rozhodl jsem se s tím něco udělat a pomoci nejen sobě, ale i Vám.</p>
                </div>
                <div style="height:20px;">
                    <p style="color:gray; font-size:12px; font-weight:400; float:right;">Mgr. Daniel Sobotka</p>
                </div>
               <div>
                    <img src="/Images/bitnar.jpg" style="width:80px;height:80px;float:left; margin-right:10px;border-radius: 50%;" />
                    <p style="color:gray; font-size:12px; font-weight:200;">Dle mého názoru se ve zdravotnictví jedná o projekt desetiletí. </p>
                </div>
                <div style="height:40px;">
                    <p style="color:gray; font-size:12px; font-weight:400; float:right;">Mgr. Petr Bitnar</p>
                </div>
            }


            <div class="w3-center form-group">
                @*@{
                    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                    if (loginProviders.Count() == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        string action = "ExternalLogin";
                        string returnUrl = null;
                        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
                        {
                            @Html.AntiForgeryToken()
                            <div id="socialLoginList">
                                <p>
                                    @foreach (AuthenticationDescription p in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-block btn-social btn-lg btn-google social-button-login" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" disabled>
                                            @if (@p.AuthenticationType == "Facebook".ToString())
                                            {
                                                <i class="fa fa-facebook"></i>
                                            }
                                            Registrovat pomocí @p.AuthenticationType účtu
                                        </button>
                                    }
                                </p>
                            </div>
                        }
                    }
                }*@
            </div>

        </div>
        @*<div class="w3-col m12 left_col">
            *povinné údaje
        </div>*@
    </div>
</div>