﻿@using SosBody.Models;
@using Microsoft.Owin.Security
@model SosBody.Models.OfficeDetailModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">REGISTRACE - KROK 2/3</h2>

    <div class="w3-row w3-padding-32">
        <div class="w3-col m8">
            @Html.ValidationSummary(false)
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserId)
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Název ordinace*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Name, new { @class = "reg_form", @style = "padding-top:0px;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Ulice*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Street, new { @class = "reg_form", @style = "padding-top:0px;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Číslo popisné*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.StreetNo, new { @class = "reg_form", @maxlength = 8 })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        PSČ*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.PostalCode, new { @class = "reg_form", @maxlength = 5, @style = "width:100px;" })
                        @Html.Label("(Bez mezery)", new { @style = "font-weight:normal;" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Město*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.City, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Země*
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.TextBoxFor(x => x.Country, new { @class = "reg_form" })
                    </div>
                </div>
                <div class="w3-row-padding m12" style="margin:0 -16px 8px -16px">
                    <div class="w3-third left_col">
                        Telefon do ordinace
                    </div>
                    <div class="w3-twothird right_col">
                        @Html.DropDownListFor(x => x.PhonePrefix, new SelectList(Model.PhonePrefixList, "Value", "Text", Model.PhonePrefix), new { @class = "reg_form", @style = "width:80px;", @onchange = "FillPhoneNumberLength(this.value, this.id)" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "reg_form", @style = "width:100px;", @maxlength = Model.PhonePrefixLength })
                        @Html.Label("(Bez mezery)", new { @style = "font-weight:normal;" })
                    </div>
                </div>
                <div class="w3-row-padding w3-padding-24" style="margin:0 -16px 8px -16px">
                    <div class="w3-third">
                        &nbsp;
                    </div>
                    <div class="w3-third">
                        @Html.ActionLink("ZPĚT", "RegisterMedicStep1", null, new { @class = "button" })
                    </div>
                    <div class="w3-third w3-right-align">
                        <button type="submit" class="button">POKRAČOVAT</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="w3-row">
        <div class="left_col">
            *povinné údaje
        </div>
    </div>
</div>


<script>

    function FillPhoneNumberLength(val, id) {
        $.ajax({
            url: '/Admin/GetPhoneNumberLength',
            type: "POST",
            dataType: "JSON",
            data: { prefix: val },
            success: function (result) {
                var index = id.lastIndexOf("_");
                var textbox = id.substring(0, index);
                textbox += "_Phone";
                $('#' + textbox).attr("maxlength", result.Length);
            }
        });
    }


        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

</script>
