﻿@using SosBody.Models
@using Microsoft.Owin.Security
@model SosBody.Models.CreateModelPatient
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<div class="w3-container w3-content w3-padding-64" style="max-width:400px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">CHCI SE REGISTROVAT</h2>
    <div class="w3-row w3-padding-32" style="padding-top:0px!important;">
        <div class="w3-col m12">
            @Html.ValidationSummary(false)
            @using (Html.BeginForm())
            {
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "reg_form" })
                </div>
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "reg_form" })
                </div>
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.ConfirmPassword)
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "reg_form" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
                <div class="w3-center">
                    <button type="submit" class="button">REGISTROVAT SE</button>
                    <br />
                    <br />
                </div>
            }

            <div class="w3-center form-group">
                @*@{
                    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                    if (loginProviders.Count() == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        string action = "ExternalLogin";
                        string returnUrl = null;
                        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
                        {
                            @Html.AntiForgeryToken()
                            <div id="socialLoginList">
                                <p>
                                    @foreach (AuthenticationDescription p in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-block btn-social btn-lg btn-google social-button-login" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" disabled>
                                            @if (@p.AuthenticationType == "Facebook".ToString())
                                            {
                                                <i class="fa fa-facebook"></i>
                                            }
                                            Registrovat pomocí @p.AuthenticationType účtu
                                        </button>
                                    }
                                </p>
                            </div>
                        }
                    }
                }*@
            </div>
        </div>
        @*<div class="w3-col m12 left_col">
            *povinné údaje
        </div>*@
    </div>
</div>
