﻿@darkGreen: #015217;
@lightGreen: #2c723e;
@lighterGreen: #73ac24;
@gray: #e1e1e1;
@darkGray: #999;
@lightGray: #d6e8ec;
@blue: #84adb8;
@footerGreen: #70B246;

html, body {
    font-family: 'Fira Sans', sans-serif !important;
}

a:hover {
    text-decoration-style: solid;
}

h2 {
    color: @lightGreen;
    font-size: 28px;
    margin: 1.2em 0;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 38px;
    color: @darkGreen;
}

.green-underline {
    border-bottom: 1px solid @lighterGreen;
}

.color-gray {
    color: @darkGray;
}