﻿.schedule {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

span.ui-icon-circle-triangle-w {
    font-size: 16px;
}

span.ui-icon-circle-triangle-e {
    font-size: 16px;
    margin-left: 30px;
}

.lblDisplay {
    font-weight: bold;
    color: #37607D;
}
#component-table thead {
    border-bottom: 1px solid rgb(188, 188, 191);
}
/*********datepicker*********/
div#component-calendar-head {
    padding-top: 12px;
}

div#component-header {
    width: 100%;
    text-align: center;
    background-color: #555555;
    height: 50px;
    color: #B2B2B2;
    font-size: 25px;
}

table#component-table {
    width: 100%;
    padding: 0px;
    /*border: 1px solid #B2B2B2;*/
    border-spacing: 0px;
    margin-top: 3em;
}

table#component-table th {
    padding: 0px;
    height: 30px;
    background-color: #015217; /*#333333;*/
    text-align: center;
    /*color:#B2B2B2;*/
    color: lightgray;
    font-size: 16px;
    border-spacing: 0px;
}

table#component-table td {
    padding: 1px;
    border: 0px none #fff;
    text-align: center;
    color: black;
    height: 40px;
    background-color: #fff;
}

table#component-table td.mouseover {
    /*border:1px dashed red;*/
    background-color: #FFDFCC;
}

table#component-table td h3 {
    font-size: 22px;
    color: black;
    margin: 22%;
}

table#component-table td h4 {
    font-size: 11px;
    color: black;
}

table#component-table td.selected {
    background-color: #02BAB5;
    color: #fff;
}

table#component-table td.selected h3 {
    color: #fff;
}

table#component-table td.selected h4 {
    color: #fff;
}

table#component-table td.weekend {
    background-color: #B2E205;
    color: #fff;
    border-top: 1px solid #B2B2B2;
}

table#component-table td.weekend h3 {
    color: #000;
}

table#component-table td.weekend h4 {
    color: #000;
}

table#component-table tr {
    padding: 0px;
    border: 0px;
}

div#component-schedule {
    margin-top: 10px;
}

.month {
    cursor: pointer;
    font-size: 16px;
}
