﻿footer {
    max-width: 2000px;
    background-color: #015217;
    text-align: left;

    * {
        color: #fff;
        text-decoration: none;
        font-size: 13px;
    }

    .copyright, .social {
        padding-top: 50px;
    }

    p strong {
        font-size: 2.0rem;
        color: @lighterGreen;
        font-weight: normal;
    }

    .copyright {
        font-size: 13px;
        color: @lighterGreen;

        strong {
            font-size: 20px;
            color: #70B246;
            font-weight: normal;
        }
    }

    .social {
        text-align: right;

        a {
            font-size: 2.0em;
            margin-left: .8em;
        }
    }

    @media screen and (max-width: 600px) {
        .menu-half {
            margin-bottom: 1em;
            width: 100%;
        }

        .copyright {
            padding-top: 30px;
        }

        .social {
            text-align: left;

            a:first-of-type {
                margin-left: 0;
            }
        }
    }
}
#footer_div {
    max-width: 800px;
}


