﻿/* CAROUSEL */
#therapists-carousel {
    position: relative;
    background: @gray;
    max-width: 2000px;
}
#band {
    max-width: 1000px;

    @media screen and (max-width: 1200px) {
        max-width: 800px;
    }

    @media screen and (max-width: 900px) {
        max-width: 600px;
    }

    @media screen and (max-width: 600px) {
        max-width: 86vw;
    }
}
.therapist-carousel-item {
    strong {
        display: block;
        font-size: 1.4rem;
        color: #015217;
    }

    .location {
        color: @lightGreen;
        font-weight: bold;
        font-size: 1.8rem;
        margin-top: 0.8em;
    }

    .rating {
        font-size: 1.2rem;
        color: #333;
        font-weight: lighter;
        margin-top: .2em;
        display: none; // temporary - until we have data
    }

    @media screen and (max-width: 700px) {
        .location {
            font-size: 1.6rem;
        }
    }
}

.carousel-next, .carousel-prev {
    display: block;
    background: url(/Images/drop.png) no-repeat;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 43%;
    z-index: 5;

    @media screen and (max-width: 700px) {
        zoom: .8;
    }
}
.carousel-next {
    right: 20px;
    transform: rotate(270deg);
}
.carousel-prev {
    left: 20px;
    transform: rotate(90deg);
}

.carousel-portrait {
    display: inline-block;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-size: cover;
    background-color: @gray;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
        width: 200px;
        height: 200px;
    }

    @media screen and (max-width: 900px) {
        width: 140px;
        height: 140px;
    }

    .hover-overlay {
        padding: 25px;
        width: auto;
        height: 100%;
        background: rgba(0,60,0,.7);
        text-align: center;
        display: none;
        cursor: pointer;
        color: #fff;
         
        strong {
            font-size: 24px;
            color: #fff;
            padding-top: 2em;
            margin-bottom: .6em;
        }
    }

    &:hover .hover-overlay {
        display: block;
    }
}