﻿/* MAP + DETAIL */
.map-wrapper {
    display: block;
    position: relative;
    /*outline: 1px solid #ccc;*/
}

.map-wrapper > div {
    height: auto;
    max-height: 90vh;
}

.map-wrapper #googleMap {
    width: 100%;
    min-width: 100vw;
    height: 500px;
}

.map-wrapper #googleMap.stretched {
    min-width: calc(70vw - 1.3em);
    width: calc(70vw - 1.3em);

    @media screen and (max-width: 900px) {
        width: auto;
    }
}

