﻿#therapists-list .item {
    
}

#therapists-list .item > div {
    cursor: pointer;
    padding: .5em 1em;
    background: @gray;
    text-align: left;
    color: @lightGreen;
    min-height: 300px;

    &:hover, &.active {
        background: @lightGreen;
        color: #fff;
    }
}

#therapists-list .item img.portrait {
    display: block;
    margin: .3em 0 .5em;
    border-radius: 50%;
    width: 115px;
    height: 115px;
}

#therapists-list .item strong {
    font-size: 1.3em;
    margin-bottom: .5em;
}

#therapists-list .item .phone, #therapists-list .item .email {
    display: block;
}
