﻿.hp-search-form {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpikA7VvAMQYAACngF22kZAogAAAABJRU5ErkJggg==');
    position: relative;
    top: 0;

    h1 {
        text-align: left;
        font-size: 32px;
        font-weight: bold;
        color: #fff;
        padding: .5em 0;
    }

    h2 {
        color: #fff;
        text-align: left;
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        padding: 0;
        margin: 15px 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        display: inline;
        color: #fff;
        margin: .5em 2em;
    }

    li input {
        margin-right: .6em;
        position: relative;
        top: 3px;
    }
    
    @media screen and (max-width: 720px) {

        .w3-col {
            float: none;
            width: auto;
        }

        h1 {
            font-size: 1.4rem;
        }

        h2 {
            text-align: left;
            font-size: 1.2rem;
        }

        input, select {
            width: 100%;
        }

        form > div:first-of-type {
            padding-left: 0 !important;
        }

        form button {
            width: 50%;
            font-size: 1.6rem;
            margin-top: .8em;
        }
    }

    @media screen and (max-width: 500px) {
        form button {
            width: 100%;
            margin-top: .8em;
        }
    }
}

.search-spinner-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(1, 82, 23, .7);
    text-align: center;
    top: 0;
    left: 0;
    span {
        color: #fff;
        font-size: 36px;
        top: calc(~"50% - 18px");
        position: relative;
    }
}