﻿#three-steps {
    
    text-align: center;

    #band {
        display: inline-block;
    }

    .w3-row {
        width: auto;
        display: table-row;
        position: relative;
        margin: 0 auto;
    }

    .step {
        display: table-cell;
        width: 230px;

        p {
            color: @lightGreen;
            font-size: 20px;
            line-height: 1.1em;
        }

        img {
            width: 10vw;
            max-width: 60px;
        }

        p {
            white-space: nowrap;
            padding: 0 0.5em;
        }
    }

    .sep {
        background: url(/Images/SOS_step_arrow.png) no-repeat center center;
        background-size: contain;
        width: 70px;
        height: 35px;
        transform: translate(0,50%);
    }

    @media screen and (max-width: 720px) {
        .w3-row {
            display: block;
            flex-direction: unset;
            max-width: 400px;
            margin: 0 auto;

            &:before {
                display: none;
            }
        }

        .step {
            flex: 0;
            display: flex;
            width: 25%;

            img, p {
                display: flex;
                flex-direction: row;
            }

            img {
                width: 16vw;
                height: 16vw;
                max-width: none;
                margin-right: 1em;
                margin-top: 16px;
            }

            .va-container {
                flex: 1;
                position: relative;
            }

            p {
                display: table;
                text-align: center;
                width: 100%;
                height: 100%;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            br {
                display: none;
            }
        }

        .sep {
            display: none;
        }

        img.tripple-arrow {
            transform: rotate(90deg);
            display: block;
            margin: 0 auto;
            width: auto;
            height: auto;
            max-width: 10vw;
        }
    }

    @media screen and (max-width: 500px) {
        .step span {
            font-size: 75%;
        }
    }
}
