﻿.hp-banner {
    background: url(/Images/Background_image.jpg);
    background-size: cover;
    max-width: none;
    position: relative;
    padding: 240px 1em 180px;
    max-height: 75vh;
    text-align: left;

    @media screen and (max-width: 720px) {
        padding-top: 6em;
        padding-bottom: 8em;
        max-height: none;

        h1, p.claim {
            text-align: center;
        }
    }

    & > div {
        max-width: 980px;
        margin: 0 auto;
    }

    & > div:first-of-type {
        padding: 1rem 1.5rem;
    }

    & > .lighten-overlay {
        position: absolute;
        width: 100vw;
        height: 100%;
        background: rgba(255,255,255,.0);
        top: 0;
        left: 0;
        max-width: none;
    }
}






p.claim {
    font-size: 22px;
    color: @darkGreen;
    font-weight: 200;
    text-align: left;
}

.hp-banner .scroll-to-map {
    display: block;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 2em;
    left: calc(~"50% - 27px");
}

.hp-banner a {
    text-decoration: underline;
    text-decoration-style: dotted;
}
