﻿@menuHeight: 70px;

#mymenu-large {
    z-index: 80;

    .w3-bar.w3-white.w3-card-2 {
        display: flex;
        flex-direction: row;
        background: rgba(255,255,255,.95) !important;
        overflow: visible;
    }

    nav {
        display: table;
        height: @menuHeight;
        flex: 1;

        a {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }

        @media screen and (max-width: 720px) {
            display: none;
        }
    }

    .phone-contact {
        display: block;
        flex: 0;
        font-size: 36px;
        color: @lightGreen;
        white-space: nowrap;
        padding-top: 0.55rem !important;
        font-style: italic;
        font-weight: bold;
        padding-right: 1em;
        text-align: right;
        position: absolute;
        right: 0;

        img {
            position: relative;
            top: -4px;
            left: 3px;
        }

        @media screen and (max-width: 1060px) {
            display: none;
        }
    }

    .menu-logo-link {
        padding-top: 0 !important;

        &:hover {
            background: transparent !important
        }
    }

    .links img {
        height: 50px;
        margin: 10px 1em 10px 2em;
        padding: 0 !important;
    }

    .w3-bar-item {
        color: @lighterGreen;
        font-size: 18px !important;
        background: none;
        white-space: nowrap;

        &:hover {
            //background-color: transparent !important;
            color: @lightGreen !important;
            background-color: #fff !important;
        }
    }
    // burger + search
    .menu-mobile-icons {
        height: 100%;
        position: absolute;
        left: auto;
        right: 0;

        a {
            padding-top: 17px !important;
            display: inline-block;
        }
    }

    @media screen and (max-width: 460px) {
        zoom: .7;
    }
}

.dropmenu-wrapper {
    display: table;
    height: @menuHeight;
    position: relative;

    & > a {
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }

    .dropmenu-content {
        display: none;
        position: absolute;
        top: @menuHeight;
        left: 0;
        box-shadow: 2px 2px 2px #999;
        outline: 1px solid @gray;
        background: #fff;
        z-index:20;
        a {
            color: @lighterGreen;
            text-align: left;
            display: block !important;
            float: none;
        }
    }

    &:hover .dropmenu-content {
        display: block;
    }
}

#navDemo .dropmenu-wrapper {
    height: auto;
    display: block;

    .dropmenu-content {
        display: block;
        top: 0;
        width: 100%;
        position: relative;
        box-shadow: none;

        a {
            padding-left: 3em !important;
            &:before {
                content: '- ';
            }
        }
    }
}