﻿#navDemo {
    position: fixed;
    top: 70px;
    z-index: 6;
    border-top: 2px solid @gray;
    border-bottom: 2px solid @gray;
    width: 100%;

    a {
        border-bottom: 1px solid @gray;

        &:last-of-type {
            border: none;
        }
    }

    @media screen and (max-width: 460px) {
        top: 49px; // menu bar is zoomed by .7
    }
}
