﻿.dialog-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    padding: .1em;
    display: block;
    font-size: 26px;
    color: #fff;
    text-align: center;
    background: #ddd;
    text-decoration: none;
    width: 28px;
    height: 28px;
    line-height: .85em;
    cursor: pointer;
}
