﻿.sos-tabs {
    text-align: center;

    a {
        display: inline-block;
        background-color: white; /*#70B246;*/ /* #015217;*/
        color: #70B246;
        border: 1px solid #70B246;
        min-width: 100px;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        &:hover, &.current {
            color: #fff;
            background-color: @blue;
            text-decoration: none;
        }

        &.current {
            background-color: @darkGreen;
            border-color: darken(@darkGreen, 30);
        }
    }

    & > div {
        display: inline-block;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 720px) {
        & > div {
            display: block;
            width: auto;

            a {
                display: block;
            }
        }
    }
}

.medic-schedule-wrapper h3 {
    text-align: center;
}

.medic-schedule {
    margin: 0 auto;

    tr {
        border-top: 1px solid #e1e1e1;

        &.next-day {
            border-top: 2px solid #e1e1e1;
        }
    }

    tr th,
    tr td {
        padding: .2em .5em;
    }

    tr td:last-of-type {
        text-align: right;
    }

    tr th i {
        font-weight: lighter;
        font-size: .9em;
        color: #a1a1a1;
    }

    tr.active th,
    tr.active td,
    tr:hover th,
    tr:hover td {
        /*background: #70B246;
        cursor: pointer;
        color: #fff;*/

        i {
            color: #ededed;
        }
    }

    a {
        color: @darkGreen;
    }
}

.log-wrapper h3 {
    text-align: center;
}

.log {
    margin: 0 auto;

    tr {
        border-top: 1px solid #e1e1e1;

        &.next-day {
            border-top: 2px solid #e1e1e1;
        }
    }

    tr th,
    tr td {
        padding: .2em .5em;
    }

    tr td:last-of-type {
        text-align: right;
    }

    tr th i {
        //font-weight: lighter;
        font-size: .7em;
        //color: #a1a1a1;
        color:black;
    }

    td {
        font-size:10px;
    }

    tr.active th,
    tr.active td,
    tr:hover th,
    tr:hover td {
        /*background: #70B246;
        cursor: pointer;
        color: #fff;*/

        i {
            color: #ededed;
        }
    }

    a {
        color: @darkGreen;
    }
}