﻿.sticky-search-form {
    position: fixed;
    top: @menuHeight;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpikA7VvAMQYAACngF22kZAogAAAABJRU5ErkJggg==');
    width: 100%;
    height: 60px;
    display: none;
    z-index:10;

    &.on {
        display: block;
    }

    form {
        padding: 13px 1em 0;
        display: flex;

        input {
            display: inline-block;
            flex: 0;

            &:first-of-type {
                width: 75%;
                flex: 1;
                padding-left: 1em;
            }
        }
    }
}
