﻿.terms-page {
    max-width: 800px;
    text-align: left;

    padding, li {
        text-align: justify;
    }

    h3 {
        margin-top: 2em;
    }

    ol {
        list-style: lower-alpha;
    }
}