﻿#therapist-detail {
    padding: 1em 1.3em;
    outline: 1px solid #ddd;
    box-shadow: 5px 5px 5px 8px #777;
    position: fixed;
    right: 0;
    width: 30vw;
    z-index: 70;
    top: auto;
    bottom: 0;
    right: 0;
    height: calc(~"100vh - 120px");
    background: #fff;
    overflow-y: scroll;
    margin-top:60px;

    .rating {
        display: inline-block;
        text-align: right;
        float: right;
        margin: 1.5em 0;
        background: #edeede;
        padding: .2em .5em;
        display: none; // temporary - until we have data to display
    }

    img.portrait {
        display: inline;
        width: 4.5em;
        position: relative;
        top: -.6em;
    }

    h3 {
        display: inline-block;
        line-height: 1.35em;
        padding-top: 0.3em;

        img {
            position: relative;
            top: -5px;
        }
    }

    h4 {
        margin-top: 0.7em;
    }

    dl {
        margin-bottom: .5em;
    }

    dl dt, dl dd {
        padding: .3em .2em;
    }

    dl dt {
        padding-bottom: 0;
    }

    .schedule {
        width: 100%;
        display: table;

        tr {
            border-top: 1px solid #e1e1e1;

            &.next-day {
                border-top: 2px solid #e1e1e1;
            }
        }

        tr th,
        tr td {
            padding: .2em .5em;
        }

        tr td:last-of-type {
            text-align: right;
        }

        tr th i {
            font-weight: lighter;
            font-size: .9em;
            color: #a1a1a1;
        }

        tr.active th,
        tr.active td,
        tr:hover th,
        tr:hover td {
            background: #70B246;
            cursor: pointer;
            color: #fff;

            i {
                color: #ededed;
            }
        }
    }

    .btn {
        width: 100%;
        display: block;
        margin: .5em 0;
    }

    .more {
        display: block;
        text-align: right;
    }

    .button {
        min-width: 100px;
        margin: 1.2em 0 .5em;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        float: right;
    }

    @media screen and (max-width: 900px) {
        width: 90vw;
        /*position: fixed;*/
        top: 5vh;
        max-height: 75vh;
        left: 5vw;
        margin-top:80px;
    }
}

.hide-control {
    font-size: 30px;
    color: #a1a1a1;
    position: absolute;
    top: 0;
    right: .5em;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
