﻿
@using SosBody.Models;
@model SosBody.Models.EmailDetailModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}


<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:600px" id="contact">
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("FYZIOTERAPEUTI", "Index", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("EMAILY", "Emails", "Dashboard", null, new { @class = "" })
        </div>
        @*<div class="w3-center">
            @Html.ActionLink("LOGY", "Logs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NEWSLETTERY", "PatientNewsletters", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("HLÍDACÍ PES", "Watchdogs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("VZKAZY", "Messages", "Dashboard", null, new { @class = "" })
        </div>*@
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col color-gray w3-center" style="width:600px;">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Inserted)
                @Html.HiddenFor(x => x.Invited)

                <div class="w3-row-padding medic-schedule-wrapper" style="margin:0 -16px 8px -16px;">
                    <h3>
                        Detail
                    </h3>
                    <div style="background-color:#73ac24;height:1px;width:100%;margin-bottom:10px;"></div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            E-mail:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.Email
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            Vloženo do SOS Body:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.Inserted
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            Odeslán MailChimp:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.Invited
                        </div>
                    </div>
                    
                    <h3>
                        Historie kontaktu
                    </h3>
                    <div style="background-color:#73ac24;height:1px;width:100%;margin-bottom:10px;"></div>

                    @foreach (var item in Model.History)
                    {
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                @item.Date
                            </div>
                            <div class="w3-twothird right_col">
                                @item.Text
                            </div>
                        </div>
                    }

                    <br />
                    @Html.TextAreaFor(x => x.NewText, htmlAttributes: new { @class = "reg_form", @style = "height:150px;" })
                    <br /><br />
                    <button type="submit" class="button">VLOŽIT</button>
                </div>
            }
        </div>
    </div>
</div>