﻿
@using SosBody.Models;
@model SosBody.Models.AllEmailsModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}


<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("FYZIOTERAPEUTI", "Index", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("E-MAILY", "Emails", "Dashboard", null, new { @class = "current" })
        </div>
        @*<div class="w3-center">
            @Html.ActionLink("LOGY", "Logs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NEWSLETTERY", "PatientNewsletters", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("HLÍDACÍ PES", "Watchdogs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("VZKAZY", "Messages", "Dashboard", null, new { @class = "" })
        </div>*@
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col color-gray">
            @using (Html.BeginForm())
            {
                <div class="w3-row-padding medic-schedule-wrapper" style="margin:0 -16px 8px -16px;">
                    <h3>
                        Emaily fyzioterapeutů zadané přes webový formulář
                    </h3>
                    @*<div style="background-color:#73ac24;height:1px;width:100%;margin-bottom:10px;"></div>*@
                    <table class="medic-schedule">
                        <thead>
                            <tr>
                                <th></th>
                                <th>E-mail</th>
                                <th>Vloženo</th>
                                <th>Odeslán MailChimp</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                int lineNumber = 1;
                                foreach (var email in Model.Emails)
                                {
                                    <tr>
                                        <td>
                                            @lineNumber.
                                        </td>
                                        <td width="300">
                                            @email.Email
                                        </td>
                                        <td width="150">
                                            @email.Inserted
                                        </td>
                                        <td width="150">
                                            @email.Invited
                                        </td>
                                        <td>
                                            @Html.ActionLink("Detail", "EmailDetail", "Dashboard", new { email = @email.Email }, null)
                                        </td>
                                    </tr>
                                    lineNumber++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>