﻿
@using SosBody.Models;
@model SosBody.Models.AllMedicsModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}


<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:100%" id="contact">
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("FYZIOTERAPEUTI", "Index", "Dashboard", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("E-MAILY", "Emails", "Dashboard", null, new { @class = " " })
        </div>
        @*<div class="w3-center">
            @Html.ActionLink("LOGY", "Logs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NEWSLETTERY", "PatientNewsletters", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("HLÍDACÍ PES", "Watchdogs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("VZKAZY", "Messages", "Dashboard", null, new { @class = "" })
        </div>*@
    </div>

    <div class="w3-row">
        <div class="w3-left w3-left-align">
            Počet registrovaných: @Model.CompletedRegistrations
            <br />
            Počet nedokončených registrací: @Model.IncompletedRegistrations
        </div>
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col color-gray">
            @using (Html.BeginForm())
            {
                <div class="w3-row-padding medic-schedule-wrapper" style="margin:0 -16px 8px -16px;">
                    <h3>
                        Registrovaní fyzioterapeuti
                    </h3>
                    <table class="medic-schedule">
                        <thead>
                            <tr>
                                <th></th>
                                <th><strong>@Html.ActionLink("Jméno", "Index", new { sortOrder = ViewBag.Name })</strong></th>
                                <th><strong>@Html.ActionLink("Příjmení", "Index", new { sortOrder = ViewBag.LastName })</strong></th>
                                <th style="text-align:center;"><strong>@Html.ActionLink("Základní údaje", "Index", new { sortOrder = ViewBag.Personal })</strong></th>
                                <th style="text-align:center;"><strong>@Html.ActionLink("Ordinace", "Index", new { sortOrder = ViewBag.Office })</strong></th>
                                <th style="text-align:center;"><strong>@Html.ActionLink("Fakturační údaje", "Index", new { sortOrder = ViewBag.Invoice })</strong></th>
                                <th style="text-align:center;"><strong>@Html.ActionLink("Fotografie", "Index", new { sortOrder = ViewBag.ProfileImage })</strong></th>
                                <th style="text-align:center;">Volné termíny</th>
                                <th style="text-align:center;">Rezervované termíny</th>
                                <th style="text-align:center;">E-mail</th>
                                <th style="text-align:center;">Telefon</th>
                                <th>Poznámka</th>
                                <th><strong></strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                int lineNumber = 1;
                                foreach (var medic in Model.Medics)
                                {
                                    <tr>
                                        <td>
                                            @lineNumber.
                                        </td>
                                        <td>
                                            @medic.Name
                                        </td>
                                        <td>
                                            @medic.LastName
                                        </td>
                                        <td align="center">
                                            @if (@medic.IsMedicPersonalData)
                                            {
                                                <img src="~/Images/ok_16x16.png" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/cancel_16x16.png" />
                                            }
                                        </td>
                                        <td align="center">
                                            @if (@medic.IsMedicOfficeData)
                                            {
                                                <img src="~/Images/ok_16x16.png" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/cancel_16x16.png" />
                                            }
                                        </td>
                                        <td align="center">
                                            @if (@medic.IsMedicInviceData)
                                            {
                                                <img src="~/Images/ok_16x16.png" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/cancel_16x16.png" />
                                            }
                                        </td>
                                        <td align="center">
                                            @if (medic.IsProfileImage)
                                            {
                                                <img src="~/Images/ok_16x16.png" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/cancel_16x16.png" />
                                            }
                                        </td>
                                        <td style="text-align:center;">
                                            @medic.FreeDates
                                        </td>
                                        <td style="text-align:center;">@medic.TotalOrders/@medic.TotalDates </td>
                                        <td style="text-align:center;">
                                            @medic.Email
                                        </td>
                                        <td style="text-align:center;">
                                            @medic.Phone
                                        </td>
                                        <td>
                                            @medic.LastHistoryPost
                                        </td>
                                        <td width="100">
                                            @Html.ActionLink("Detail", "MedicDetail", "Dashboard", new { userId = @medic.UserId }, null)
                                        </td>
                                    </tr>
                                    lineNumber++;
                                }
                             }
                         </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>