﻿
@using SosBody.Models;
@model SosBody.Models.AllLogsModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}


<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("FYZIOTERAPEUTI", "Index", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("EMAILY", "Emails", "Dashboard", null, new { @class = "" })
        </div>
        @*<div class="w3-center">
            @Html.ActionLink("LOGY", "Logs", "Dashboard", null, new { @class = "current" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NEWSLETTERY", "PatientNewsletters", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("HLÍDACÍ PES", "Watchdogs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("VZKAZY", "Messages", "Dashboard", null, new { @class = "" })
        </div>*@
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col">
            @using (Html.BeginForm())
            {
                <div class="w3-row-padding log-wrapper" style="margin:0 -16px 8px -16px;">
                    <h3>
                        Logy
                    </h3>
                    <table class="log">
                        @foreach (var log in Model.Logs)
                        {
                            <tr>
                                <td>
                                    <div style="width:100px;">
                                        @log.Date
                                    </div>
                                </td>
                                <td>
                                    <div style="width:200px;">
                                        @log.UserId
                                    </div>
                                </td>
                                <td>
                                    <div style="width:70px;">
                                        @log.Level
                                    </div>
                                </td>
                                <td>
                                    <div style="width:200px;">
                                        @log.Info
                                    </div>
                                </td>
                                <td>
                                    <div style="width:200px;">
                                        @log.Description
                                    </div>
                                </td>
                            </tr>
                        }
                     </table>
                </div>
            }
        </div>
    </div>
</div>