﻿
@using SosBody.Models;
@model SosBody.Models.MedicDetailModel
@{
    ViewBag.Title = "SOS Body";
}


@section menuItems {
    @Html.ActionLink("ODHLÁSIT SE", "Logout", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}


<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:600px" id="contact">
    <div class="w3-row w3-padding-32 sos-tabs">
        <div class="w3-center">
            @Html.ActionLink("FYZIOTERAPEUTI", "Index", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("EMAILY", "Emails", "Dashboard", null, new { @class = "" })
        </div>
        @*<div class="w3-center">
            @Html.ActionLink("LOGY", "Logs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("NEWSLETTERY", "PatientNewsletters", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("HLÍDACÍ PES", "Watchdogs", "Dashboard", null, new { @class = "" })
        </div>
        <div class="w3-center">
            @Html.ActionLink("VZKAZY", "Messages", "Dashboard", null, new { @class = "" })
        </div>*@
    </div>

    <div class="w3-row w3-padding-32">
        <div class="w3-col color-gray">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.Email)
                @Html.HiddenFor(x => x.UserId)

                <div class="w3-row-padding medic-schedule-wrapper" style="margin:0 -16px 8px -16px;">
                    <h3>
                        Detail
                    </h3>
                    <div style="background-color:#73ac24;height:1px;width:100%;margin-bottom:10px;"></div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            Jméno:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.Name
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            E-mail:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.Email
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            Telefon:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.Phone
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px; height:170px;">
                        <div class="w3-third left_col">
                            Specializace:
                        </div>
                        <div class="w3-twothird right_col">
                            @if (Model.Spec1 == true)
                            {
                                @Html.LabelFor(x => x.Spec1) <br />
                            }
                            @if (Model.Spec2 == true)
                            {
                                @Html.LabelFor(x => x.Spec2) <br />
                            }
                            @if (Model.Spec3 == true)
                            {
                                @Html.LabelFor(x => x.Spec3) <br />
                            }
                            @if (Model.Spec4 == true)
                            {
                                @Html.LabelFor(x => x.Spec4) <br />
                            }
                            @if (Model.Spec5 == true)
                            {
                                @Html.LabelFor(x => x.Spec5) <br />
                            }
                            @if (Model.Spec6 == true)
                            {
                                @Html.LabelFor(x => x.Spec6) <br />
                            }
                            
                        </div>
                    </div>

                    <h3>
                        Fakturační údaje
                    </h3>
                    <div style="background-color:#73ac24;height:1px;width:100%;margin-bottom:10px;"></div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            IČO:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.IdentifyNo
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            DIČ:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.TaxIdentifyNo
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            Adresa:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.InvoiceAddress
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            Bankovní účet:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.BankAccount
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            E-mail:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.InvoiceEmail
                        </div>
                    </div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-third left_col">
                            Telefon:
                        </div>
                        <div class="w3-twothird right_col">
                            @Model.InvoicePhone
                        </div>
                    </div>

                    <h3>
                        Ordinace
                    </h3>
                    <div style="background-color:#73ac24;height:1px;width:100%;margin-bottom:10px;"></div>

                    @foreach (var office in Model.Offices)
                    {
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                Název ordinace:
                            </div>
                            <div class="w3-twothird right_col">
                                @office.Name
                            </div>
                        </div>
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                Adresa:
                            </div>
                            <div class="w3-twothird right_col">
                                @office.Street @office.StreetNo, @office.City
                            </div>
                        </div>
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                Země:
                            </div>
                            <div class="w3-twothird right_col">
                                @office.Country
                            </div>
                        </div>
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                Telefon do ordinace:
                            </div>
                            <div class="w3-twothird right_col">
                                @office.Phone
                            </div>
                        </div>
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                Sazba za 30 min:
                            </div>
                            <div class="w3-twothird right_col">
                                @office.Price30
                            </div>
                        </div>
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                Sazba za 60 min:
                            </div>
                            <div class="w3-twothird right_col">
                                @office.Price60
                            </div>
                        </div>
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                Sazba za 90 min:
                            </div>
                            <div class="w3-twothird right_col">
                                @office.Price90
                            </div>
                        </div>

                        if (Model.Offices.Count > 0)
                        {
                            <br />
                        }

                    }

                    <h3>
                        Historie kontaktu
                    </h3>
                    <div style="background-color:#73ac24;height:1px;width:100%;margin-bottom:10px;"></div>

                    @foreach (var item in Model.History)
                    {
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-third left_col">
                                @item.Date
                            </div>
                            <div class="w3-twothird right_col">
                                @item.Text
                            </div>
                        </div>
                    }

                    <br />
                    @Html.TextAreaFor(x => x.NewText, htmlAttributes: new { @class = "reg_form", @style = "height:150px;" })
                    <br /><br />
                    <button type="submit" class="button">VLOŽIT</button>

                </div>
            }
        </div>
    </div>
</div>