﻿@using SosBody.Models
@{
    ViewBag.Title = "SosBody";
}



    <!-- Navbar -->
    <div class="menu-top" style="position:fixed; ">
       <div class="menu-bar menu-white menu-card-2">
           <img src="~/Images/SOSBody_logo_219x120.png" id="sosbody_logo" style="height:100px;" class="w3-bar-item" />

          
            <a class="menu-bar-item menu-button menu-padding-large menu-hide-medium menu-hide-large menu-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="#" class="menu-bar-item menu-button menu-padding-large">HOME</a>
            
            <a href="#band" class="menu-bar-item menu-button menu-padding-large menu-hide-small">BAND</a>
            <a href="#tour" class="menu-bar-item menu-button menu-padding-large menu-hide-small">TOUR</a>
            <a href="#contact" class="menu-bar-item menu-button menu-padding-large menu-hide-small">CONTACT</a>
            <div class="menu-dropdown-hover menu-hide-small">
                <button class="menu-padding-large menu-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
                <div class="menu-dropdown-content menu-bar-block menu-card-4">
                    <a href="#" class="menu-bar-item menu-button">Merchandise</a>
                    <a href="#" class="menu-bar-item menu-button">Extras</a>
                    <a href="#" class="menu-bar-item menu-button">Media</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="menu-bar-block menu-black menu-hide menu-hide-large menu-hide-medium menu-top" style="margin-top:46px;">
        <nav>
            <div class="dropmenu-wrapper">
                <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
                <div class="dropmenu-content">
                    @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
                    @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
                </div>
            </div>
            @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "menu-bar-item menu-button menu-padding-large" })
            @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })

        </nav>
    @*<a href="#band" class="menu-bar-item menu-button menu-padding-large">BAND</a>
        <a href="#tour" class="menu-bar-item menu-button menu-padding-large">TOUR</a>
        <a href="#contact" class="menu-bar-item menu-button menu-padding-large">CONTACT</a>
        <a href="#" class="menu-bar-item menu-button menu-padding-large">MERCH</a>*@
</div>

    <!-- Page content -->
@*margin-top:46px*@
    <div class="menu-content" style="max-width:2000px;">
        
        <div class="mySlides menu-display-container menu-center">
            REGISTRACE
        </div>


        <!-- contacts -->
        <div id="contact" style="max-width:2000px; height:500px; background-color:#e1e1e1;">


        </div>

        <!-- footer -->
        <div id="footer" style="max-width:2000px; height:700px; background-color:#015217;">


        </div>


    <div class="panel panel-primary">



    </div>

    @Html.ActionLink("Register Medic", "RegisterMedic", "Admin", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Register Patient", "RegisterPatient", "Admin", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-primary" })

    <script>

        // Automatic Slideshow - change image every 4 seconds
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 4000);
        }


        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("menu-show") == -1) {
                x.className += " menu-show";
            } else {
                x.className = x.className.replace(" menu-show", "");
            }
        }


        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
