﻿@using SosBody.Models;
@using Microsoft.Owin.Security
@model SosBody.Models.LoginModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
    @Html.ActionLink("MOJE REZERVACE", "Reservation", "Home", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:400px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">PŘIHLÁSIT SE</h2>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m12">
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                @*@Html.AntiForgeryToken();*@

                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="w3-center form-group" style="align-content:center;">
                    @Html.LabelFor(x => x.Username)
                    @Html.TextBoxFor(x => x.Username, new { @class = "reg_form" })
                </div>
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "reg_form" })
                </div>
                <div class="w3-center">
                    <br />
                    <button type="submit" class="button">PŘIHLÁSIT SE</button>
                    <br />
                    <br />
                    <br />
                </div>
            }

            @*@{
                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                if (loginProviders.Count() == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    string action = "ExternalLogin";
                    string returnUrl = null;
                    using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            <p>
                                @foreach (AuthenticationDescription p in loginProviders)
                                {
                                    <button type="submit" class="btn btn-block btn-social btn-lg btn-google social-button-login" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" disabled>
                                        @if (@p.AuthenticationType == "Facebook".ToString())
                                        {
                                            <i class="fa fa-facebook"></i>
                                        }
                                        Přihlásit pomocí @p.AuthenticationType účtu
                                    </button>
                                }
                            </p>
                        </div>
                    }
                }
            }*@

            <div class="w3-center">
                <br />
                <p style="font-size:15px;">
                    @*@Html.ActionLink("Zapoměli jste heslo?", null , null, new { onclick = "RedirectWithEmail();" })*@ @*"PasswordReset"*@
                    @*@Html.ActionLink("Zapoměli jste heslo?", "PasswordReset")*@
                    <a href='#' onclick="RedirectWithEmail();">Zapomněli jste heslo?</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>

    function RedirectWithEmail() {
        var param = document.getElementById("Username");
        window.location.href = "../../Account/PasswordReset?email=" + param.value;
    }


    // Automatic Slideshow - change image every 4 seconds
    //var myIndex = 0;
    //carousel();

    //function carousel() {
    //    var i;
    //    var x = document.getElementsByClassName("mySlides");
    //    for (i = 0; i < x.length; i++) {
    //        x[i].style.display = "none";
    //    }
    //    myIndex++;
    //    if (myIndex > x.length) { myIndex = 1 }
    //    x[myIndex - 1].style.display = "block";
    //    setTimeout(carousel, 4000);
    //}

    //// When the user clicks anywhere outside of the modal, close it
    //var modal = document.getElementById('ticketModal');
    //window.onclick = function (event) {
    //    if (event.target == modal) {
    //        modal.style.display = "none";
    //    }
    //}

</script>
