﻿@using SosBody.Models;
@model SosBody.Models.PasswordResetEmailModel
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large w3-hide-small" })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:500px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">OBNOVA HESLA</h2>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m12">
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                @*@Html.AntiForgeryToken();*@

                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="w3-center form-group" style="align-content:center;">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "reg_form" })
                </div>
                <div class="w3-center">
                    <button type="submit" class="button">ODESLAT</button>
                </div>
            }
        </div>
    </div>
</div>

<script>

        // When the user clicks anywhere outside of the modal, close it
        var modal = document.getElementById('ticketModal');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

</script>