﻿@using SosBody.Models;
@{
    ViewBag.Title = "SOS Body";
}

@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:600px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">OBNOVA HESLA</h2>
    <div class="w3-row w3-padding-32 w3-center">
        <div class="w3-col m12" style="font-size:15px;">
            Na Vámi zadaný e-mail byl odeslán odkaz pro dokončení obnovy hesla.
        </div>
    </div>
</div>

<script>

        // Automatic Slideshow - change image every 4 seconds
        //var myIndex = 0;
        //carousel();

        //function carousel() {
        //    var i;
        //    var x = document.getElementsByClassName("mySlides");
        //    for (i = 0; i < x.length; i++) {
        //        x[i].style.display = "none";
        //    }
        //    myIndex++;
        //    if (myIndex > x.length) { myIndex = 1 }
        //    x[myIndex - 1].style.display = "block";
        //    setTimeout(carousel, 4000);
        //}


        //// When the user clicks anywhere outside of the modal, close it
        //var modal = document.getElementById('ticketModal');
        //window.onclick = function (event) {
        //    if (event.target == modal) {
        //        modal.style.display = "none";
        //    }
        //}

</script>