﻿@using SosBody.Models;
@model SosBody.Models.PasswordResetModel
@{
    ViewBag.Title = "SOS Body";
}
@section menuItems {
    <div class="dropmenu-wrapper">
        <a class="w3-bar-item w3-button w3-padding-large" href="javascript:void(0)">REGISTROVAT SE ZDARMA</a>
        <div class="dropmenu-content">
            @Html.ActionLink("FYZIOTERAPEUT", "RegisterMedic", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
            @Html.ActionLink("PACIENT", "RegisterPatient", "Admin", null, new { @class = "w3-bar-item w3-button w3-padding-large" })
        </div>
    </div>
    @Html.ActionLink("PŘIHLÁSIT SE", "Login", "Account", null, new { @class = "w3-bar-item w3-button w3-padding-large " })
}

<!-- Page content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:400px" id="contact">
    <h2 class="w3-wide w3-center h2_sos_header">VYTVOŘTE NOVÉ HESLO</h2>
    <div class="w3-row w3-padding-32 w3-center">
        <div class="w3-col m12">
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x => x.Code)

                <div class="w3-center form-group" style="align-content:center;">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "reg_form" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="w3-center form-group">
                    @Html.LabelFor(x => x.ConfirmPassword)
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "reg_form" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="w3-center">
                    <button type="submit" class="button">POTVRDIT</button>
                </div>
            }
        </div>
    </div>
</div>