﻿/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

html,
body {
  font-family: 'Fira Sans', sans-serif !important;
}
a:hover {
  text-decoration-style: solid;
}
h2 {
  color: #2c723e;
  font-size: 28px;
  margin: 1.2em 0;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  color: #015217;
}
.green-underline {
  border-bottom: 1px solid #73ac24;
}
.color-gray {
  color: #999;
}
#mymenu-large {
  z-index: 80;
}
#mymenu-large .w3-bar.w3-white.w3-card-2 {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.95) !important;
  overflow: visible;
}
#mymenu-large nav {
  display: table;
  height: 70px;
  flex: 1;
}
#mymenu-large nav a {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
@media screen and (max-width: 720px) {
  #mymenu-large nav {
    display: none;
  }
}
#mymenu-large .phone-contact {
  display: block;
  flex: 0;
  font-size: 36px;
  color: #2c723e;
  white-space: nowrap;
  padding-top: 0.55rem !important;
  font-style: italic;
  font-weight: bold;
  padding-right: 1em;
  text-align: right;
  position: absolute;
  right: 0;
}
#mymenu-large .phone-contact img {
  position: relative;
  top: -4px;
  left: 3px;
}
@media screen and (max-width: 1060px) {
  #mymenu-large .phone-contact {
    display: none;
  }
}
#mymenu-large .menu-logo-link {
  padding-top: 0 !important;
}
#mymenu-large .menu-logo-link:hover {
  background: transparent !important;
}
#mymenu-large .links img {
  height: 50px;
  margin: 10px 1em 10px 2em;
  padding: 0 !important;
}
#mymenu-large .w3-bar-item {
  color: #73ac24;
  font-size: 18px !important;
  background: none;
  white-space: nowrap;
}
#mymenu-large .w3-bar-item:hover {
  color: #2c723e !important;
  background-color: #fff !important;
}
#mymenu-large .menu-mobile-icons {
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
}
#mymenu-large .menu-mobile-icons a {
  padding-top: 17px !important;
  display: inline-block;
}
@media screen and (max-width: 460px) {
  #mymenu-large {
    zoom: .7;
  }
}
.dropmenu-wrapper {
  display: table;
  height: 70px;
  position: relative;
}
.dropmenu-wrapper > a {
  cursor: default;
}
.dropmenu-wrapper > a:hover {
  text-decoration: none;
}
.dropmenu-wrapper .dropmenu-content {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  box-shadow: 2px 2px 2px #999;
  outline: 1px solid #e1e1e1;
  background: #fff;
  z-index: 20;
}
.dropmenu-wrapper .dropmenu-content a {
  color: #73ac24;
  text-align: left;
  display: block !important;
  float: none;
}
.dropmenu-wrapper:hover .dropmenu-content {
  display: block;
}
#navDemo .dropmenu-wrapper {
  height: auto;
  display: block;
}
#navDemo .dropmenu-wrapper .dropmenu-content {
  display: block;
  top: 0;
  width: 100%;
  position: relative;
  box-shadow: none;
}
#navDemo .dropmenu-wrapper .dropmenu-content a {
  padding-left: 3em !important;
}
#navDemo .dropmenu-wrapper .dropmenu-content a:before {
  content: '- ';
}
#navDemo {
  position: fixed;
  top: 70px;
  z-index: 6;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  width: 100%;
}
#navDemo a {
  border-bottom: 1px solid #e1e1e1;
}
#navDemo a:last-of-type {
  border: none;
}
@media screen and (max-width: 460px) {
  #navDemo {
    top: 49px;
  }
}
footer {
  max-width: 2000px;
  background-color: #015217;
  text-align: left;
}
footer * {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
footer .copyright,
footer .social {
  padding-top: 50px;
}
footer p strong {
  font-size: 2.0rem;
  color: #73ac24;
  font-weight: normal;
}
footer .copyright {
  font-size: 13px;
  color: #73ac24;
}
footer .copyright strong {
  font-size: 20px;
  color: #70B246;
  font-weight: normal;
}
footer .social {
  text-align: right;
}
footer .social a {
  font-size: 2.0em;
  margin-left: .8em;
}
@media screen and (max-width: 600px) {
  footer .menu-half {
    margin-bottom: 1em;
    width: 100%;
  }
  footer .copyright {
    padding-top: 30px;
  }
  footer .social {
    text-align: left;
  }
  footer .social a:first-of-type {
    margin-left: 0;
  }
}
#footer_div {
  max-width: 800px;
}
.social-button-login#Facebook {
  background: #4267b2;
  color: #fff;
}
.social-button-login#Facebook i {
  margin-right: .8em;
}
.hp-banner {
  background: url(/Images/Background_image.jpg);
  background-size: cover;
  max-width: none;
  position: relative;
  padding: 240px 1em 180px;
  max-height: 75vh;
  text-align: left;
}
@media screen and (max-width: 720px) {
  .hp-banner {
    padding-top: 6em;
    padding-bottom: 8em;
    max-height: none;
  }
  .hp-banner h1,
  .hp-banner p.claim {
    text-align: center;
  }
}
.hp-banner > div {
  max-width: 980px;
  margin: 0 auto;
}
.hp-banner > div:first-of-type {
  padding: 1rem 1.5rem;
}
.hp-banner > .lighten-overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  max-width: none;
}
p.claim {
  font-size: 22px;
  color: #015217;
  font-weight: 200;
  text-align: left;
}
.hp-banner .scroll-to-map {
  display: block;
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 2em;
  left: calc(50% - 27px);
}
.hp-banner a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
#three-steps {
  text-align: center;
}
#three-steps #band {
  display: inline-block;
}
#three-steps .w3-row {
  width: auto;
  display: table-row;
  position: relative;
  margin: 0 auto;
}
#three-steps .step {
  display: table-cell;
  width: 230px;
}
#three-steps .step p {
  color: #2c723e;
  font-size: 20px;
  line-height: 1.1em;
}
#three-steps .step img {
  width: 10vw;
  max-width: 60px;
}
#three-steps .step p {
  white-space: nowrap;
  padding: 0 0.5em;
}
#three-steps .sep {
  background: url(/Images/SOS_step_arrow.png) no-repeat center center;
  background-size: contain;
  width: 70px;
  height: 35px;
  transform: translate(0, 50%);
}
@media screen and (max-width: 720px) {
  #three-steps .w3-row {
    display: block;
    flex-direction: unset;
    max-width: 400px;
    margin: 0 auto;
  }
  #three-steps .w3-row:before {
    display: none;
  }
  #three-steps .step {
    flex: 0;
    display: flex;
    width: 25%;
  }
  #three-steps .step img,
  #three-steps .step p {
    display: flex;
    flex-direction: row;
  }
  #three-steps .step img {
    width: 16vw;
    height: 16vw;
    max-width: none;
    margin-right: 1em;
    margin-top: 16px;
  }
  #three-steps .step .va-container {
    flex: 1;
    position: relative;
  }
  #three-steps .step p {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  #three-steps .step p span {
    display: table-cell;
    vertical-align: middle;
  }
  #three-steps .step br {
    display: none;
  }
  #three-steps .sep {
    display: none;
  }
  #three-steps img.tripple-arrow {
    transform: rotate(90deg);
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 10vw;
  }
}
@media screen and (max-width: 500px) {
  #three-steps .step span {
    font-size: 75%;
  }
}
/* CAROUSEL */
#therapists-carousel {
  position: relative;
  background: #e1e1e1;
  max-width: 2000px;
}
#band {
  max-width: 1000px;
}
@media screen and (max-width: 1200px) {
  #band {
    max-width: 800px;
  }
}
@media screen and (max-width: 900px) {
  #band {
    max-width: 600px;
  }
}
@media screen and (max-width: 600px) {
  #band {
    max-width: 86vw;
  }
}
.therapist-carousel-item strong {
  display: block;
  font-size: 1.4rem;
  color: #015217;
}
.therapist-carousel-item .location {
  color: #2c723e;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 0.8em;
}
.therapist-carousel-item .rating {
  font-size: 1.2rem;
  color: #333;
  font-weight: lighter;
  margin-top: .2em;
  display: none;
}
@media screen and (max-width: 700px) {
  .therapist-carousel-item .location {
    font-size: 1.6rem;
  }
}
.carousel-next,
.carousel-prev {
  display: block;
  background: url(/Images/drop.png) no-repeat;
  width: 55px;
  height: 55px;
  position: absolute;
  top: 43%;
  z-index: 5;
}
@media screen and (max-width: 700px) {
  .carousel-next,
  .carousel-prev {
    zoom: .8;
  }
}
.carousel-next {
  right: 20px;
  transform: rotate(270deg);
}
.carousel-prev {
  left: 20px;
  transform: rotate(90deg);
}
.carousel-portrait {
  display: inline-block;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-size: cover;
  background-color: #e1e1e1;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .carousel-portrait {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 900px) {
  .carousel-portrait {
    width: 140px;
    height: 140px;
  }
}
.carousel-portrait .hover-overlay {
  padding: 25px;
  width: auto;
  height: 100%;
  background: rgba(0, 60, 0, 0.7);
  text-align: center;
  display: none;
  cursor: pointer;
  color: #fff;
}
.carousel-portrait .hover-overlay strong {
  font-size: 24px;
  color: #fff;
  padding-top: 2em;
  margin-bottom: .6em;
}
.carousel-portrait:hover .hover-overlay {
  display: block;
}
/* MAP + DETAIL */
.map-wrapper {
  display: block;
  position: relative;
  /*outline: 1px solid #ccc;*/
}
.map-wrapper > div {
  height: auto;
  max-height: 90vh;
}
.map-wrapper #googleMap {
  width: 100%;
  min-width: 100vw;
  height: 500px;
}
.map-wrapper #googleMap.stretched {
  min-width: calc(68.7vw);
  width: calc(68.7vw);
}
@media screen and (max-width: 900px) {
  .map-wrapper #googleMap.stretched {
    width: auto;
  }
}
#therapist-detail {
  padding: 1em 1.3em;
  outline: 1px solid #ddd;
  box-shadow: 5px 5px 5px 8px #777;
  position: fixed;
  width: 30vw;
  z-index: 70;
  top: auto;
  bottom: 0;
  right: 0;
  height: calc(100vh - 120px);
  background: #fff;
  overflow-y: scroll;
  margin-top: 60px;
}
#therapist-detail .rating {
  display: inline-block;
  text-align: right;
  float: right;
  margin: 1.5em 0;
  background: #edeede;
  padding: .2em .5em;
  display: none;
}
#therapist-detail img.portrait {
  display: inline;
  width: 4.5em;
  position: relative;
  top: -0.6em;
}
#therapist-detail h3 {
  display: inline-block;
  line-height: 1.35em;
  padding-top: 0.3em;
}
#therapist-detail h3 img {
  position: relative;
  top: -5px;
}
#therapist-detail h4 {
  margin-top: 0.7em;
}
#therapist-detail dl {
  margin-bottom: .5em;
}
#therapist-detail dl dt,
#therapist-detail dl dd {
  padding: .3em .2em;
}
#therapist-detail dl dt {
  padding-bottom: 0;
}
#therapist-detail .schedule {
  width: 100%;
  display: table;
}
#therapist-detail .schedule tr {
  border-top: 1px solid #e1e1e1;
}
#therapist-detail .schedule tr.next-day {
  border-top: 2px solid #e1e1e1;
}
#therapist-detail .schedule tr th,
#therapist-detail .schedule tr td {
  padding: .2em .5em;
}
#therapist-detail .schedule tr td:last-of-type {
  text-align: right;
}
#therapist-detail .schedule tr th i {
  font-weight: lighter;
  font-size: .9em;
  color: #a1a1a1;
}
#therapist-detail .schedule tr.active th,
#therapist-detail .schedule tr.active td,
#therapist-detail .schedule tr:hover th,
#therapist-detail .schedule tr:hover td {
  background: #70B246;
  cursor: pointer;
  color: #fff;
}
#therapist-detail .schedule tr.active th i,
#therapist-detail .schedule tr.active td i,
#therapist-detail .schedule tr:hover th i,
#therapist-detail .schedule tr:hover td i {
  color: #ededed;
}
#therapist-detail .btn {
  width: 100%;
  display: block;
  margin: .5em 0;
}
#therapist-detail .more {
  display: block;
  text-align: right;
}
#therapist-detail .button {
  min-width: 100px;
  margin: 1.2em 0 .5em;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  float: right;
}
@media screen and (max-width: 900px) {
  #therapist-detail {
    width: 90vw;
    /*position: fixed;*/
    top: 5vh;
    max-height: 75vh;
    left: 5vw;
    margin-top: 80px;
  }
}
.hide-control {
  font-size: 30px;
  color: #a1a1a1;
  position: absolute;
  top: 0;
  right: .5em;
  text-decoration: none;
}
.hide-control:hover {
  text-decoration: none;
}
.sticky-search-form {
  position: fixed;
  top: 70px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpikA7VvAMQYAACngF22kZAogAAAABJRU5ErkJggg==');
  width: 100%;
  height: 60px;
  display: none;
  z-index: 10;
}
.sticky-search-form.on {
  display: block;
}
.sticky-search-form form {
  padding: 13px 1em 0;
  display: flex;
}
.sticky-search-form form input {
  display: inline-block;
  flex: 0;
}
.sticky-search-form form input:first-of-type {
  width: 75%;
  flex: 1;
  padding-left: 1em;
}
#therapists-list .item > div {
  cursor: pointer;
  padding: .5em 1em;
  background: #e1e1e1;
  text-align: left;
  color: #2c723e;
  min-height: 300px;
}
#therapists-list .item > div:hover,
#therapists-list .item > div.active {
  background: #2c723e;
  color: #fff;
}
#therapists-list .item img.portrait {
  display: block;
  margin: .3em 0 .5em;
  border-radius: 50%;
  width: 115px;
  height: 115px;
}
#therapists-list .item strong {
  font-size: 1.3em;
  margin-bottom: .5em;
}
#therapists-list .item .phone,
#therapists-list .item .email {
  display: block;
}
.hp-search-form {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpikA7VvAMQYAACngF22kZAogAAAABJRU5ErkJggg==');
  position: relative;
  top: 0;
}
.hp-search-form h1 {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  padding: .5em 0;
}
.hp-search-form h2 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 15px 0;
}
.hp-search-form ul {
  list-style: none;
  padding-left: 0;
}
.hp-search-form li {
  display: inline;
  color: #fff;
  margin: .5em 2em;
}
.hp-search-form li input {
  margin-right: .6em;
  position: relative;
  top: 3px;
}
@media screen and (max-width: 720px) {
  .hp-search-form .w3-col {
    float: none;
    width: auto;
  }
  .hp-search-form h1 {
    font-size: 1.4rem;
  }
  .hp-search-form h2 {
    text-align: left;
    font-size: 1.2rem;
  }
  .hp-search-form input,
  .hp-search-form select {
    width: 100%;
  }
  .hp-search-form form > div:first-of-type {
    padding-left: 0 !important;
  }
  .hp-search-form form button {
    width: 50%;
    font-size: 1.6rem;
    margin-top: .8em;
  }
}
@media screen and (max-width: 500px) {
  .hp-search-form form button {
    width: 100%;
    margin-top: .8em;
  }
}
.search-spinner-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(1, 82, 23, 0.7);
  text-align: center;
  top: 0;
  left: 0;
}
.search-spinner-overlay span {
  color: #fff;
  font-size: 36px;
  top: calc(50% - 18px);
  position: relative;
}
.dialog-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  padding: .1em;
  display: block;
  font-size: 26px;
  color: #fff;
  text-align: center;
  background: #ddd;
  text-decoration: none;
  width: 28px;
  height: 28px;
  line-height: .85em;
  cursor: pointer;
}
.schedule {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
span.ui-icon-circle-triangle-w {
  font-size: 16px;
}
span.ui-icon-circle-triangle-e {
  font-size: 16px;
  margin-left: 30px;
}
.lblDisplay {
  font-weight: bold;
  color: #37607D;
}
#component-table thead {
  border-bottom: 1px solid #bcbcbf;
}
/*********datepicker*********/
div#component-calendar-head {
  padding-top: 12px;
}
div#component-header {
  width: 100%;
  text-align: center;
  background-color: #555555;
  height: 50px;
  color: #B2B2B2;
  font-size: 25px;
}
table#component-table {
  width: 100%;
  padding: 0px;
  /*border: 1px solid #B2B2B2;*/
  border-spacing: 0px;
  margin-top: 3em;
}
table#component-table th {
  padding: 0px;
  height: 30px;
  background-color: #015217;
  /*#333333;*/
  text-align: center;
  /*color:#B2B2B2;*/
  color: lightgray;
  font-size: 16px;
  border-spacing: 0px;
}
table#component-table td {
  padding: 1px;
  border: 0px none #fff;
  text-align: center;
  color: black;
  height: 40px;
  background-color: #fff;
}
table#component-table td.mouseover {
  /*border:1px dashed red;*/
  background-color: #FFDFCC;
}
table#component-table td h3 {
  font-size: 22px;
  color: black;
  margin: 22%;
}
table#component-table td h4 {
  font-size: 11px;
  color: black;
}
table#component-table td.selected {
  background-color: #02BAB5;
  color: #fff;
}
table#component-table td.selected h3 {
  color: #fff;
}
table#component-table td.selected h4 {
  color: #fff;
}
table#component-table td.weekend {
  background-color: #B2E205;
  color: #fff;
  border-top: 1px solid #B2B2B2;
}
table#component-table td.weekend h3 {
  color: #000;
}
table#component-table td.weekend h4 {
  color: #000;
}
table#component-table tr {
  padding: 0px;
  border: 0px;
}
div#component-schedule {
  margin-top: 10px;
}
.month {
  cursor: pointer;
  font-size: 16px;
}
.terms-page {
  max-width: 800px;
  text-align: left;
}
.terms-page padding,
.terms-page li {
  text-align: justify;
}
.terms-page h3 {
  margin-top: 2em;
}
.terms-page ol {
  list-style: lower-alpha;
}
#contact {
  max-width: 400px;
  padding-bottom: 5em;
}
.sos-tabs {
  text-align: center;
}
.sos-tabs a {
  display: inline-block;
  background-color: white;
  /*#70B246;*/
  /* #015217;*/
  color: #70B246;
  border: 1px solid #70B246;
  min-width: 100px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sos-tabs a:hover,
.sos-tabs a.current {
  color: #fff;
  background-color: #84adb8;
  text-decoration: none;
}
.sos-tabs a.current {
  background-color: #015217;
  border-color: #000000;
}
.sos-tabs > div {
  display: inline-block;
  margin-bottom: 5px;
}
@media screen and (max-width: 720px) {
  .sos-tabs > div {
    display: block;
    width: auto;
  }
  .sos-tabs > div a {
    display: block;
  }
}
.medic-schedule-wrapper h3 {
  text-align: center;
}
.medic-schedule {
  margin: 0 auto;
}
.medic-schedule tr {
  border-top: 1px solid #e1e1e1;
}
.medic-schedule tr.next-day {
  border-top: 2px solid #e1e1e1;
}
.medic-schedule tr th,
.medic-schedule tr td {
  padding: .2em .5em;
}
.medic-schedule tr td:last-of-type {
  text-align: right;
}
.medic-schedule tr th i {
  font-weight: lighter;
  font-size: .9em;
  color: #a1a1a1;
}
.medic-schedule tr.active th,
.medic-schedule tr.active td,
.medic-schedule tr:hover th,
.medic-schedule tr:hover td {
  /*background: #70B246;
        cursor: pointer;
        color: #fff;*/
}
.medic-schedule tr.active th i,
.medic-schedule tr.active td i,
.medic-schedule tr:hover th i,
.medic-schedule tr:hover td i {
  color: #ededed;
}
.medic-schedule a {
  color: #015217;
}
.log-wrapper h3 {
  text-align: center;
}
.log {
  margin: 0 auto;
}
.log tr {
  border-top: 1px solid #e1e1e1;
}
.log tr.next-day {
  border-top: 2px solid #e1e1e1;
}
.log tr th,
.log tr td {
  padding: .2em .5em;
}
.log tr td:last-of-type {
  text-align: right;
}
.log tr th i {
  font-size: .7em;
  color: black;
}
.log td {
  font-size: 10px;
}
.log tr.active th,
.log tr.active td,
.log tr:hover th,
.log tr:hover td {
  /*background: #70B246;
        cursor: pointer;
        color: #fff;*/
}
.log tr.active th i,
.log tr.active td i,
.log tr:hover th i,
.log tr:hover td i {
  color: #ededed;
}
.log a {
  color: #015217;
}